section.section-box
  .container.mt-80
    .row
      .col-lg-6.col-sm-12.mb-30
        span.tag-1.bg-6.color-green-900 Built Exclusively For You
        h3.text-heading-1.mt-30 From the big picture to every tiny detail, we got you covered.
        p.text-body-lead-large.color-gray-600.mt-30
          | Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level. Apply to our team and see what we can do together. You&rsquo;re good enough.
        .line-bd-green.mt-50
        .row
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Automated reports
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Realtime analytics
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Funnel optimization
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf User journey
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
      .col-lg-6.col-sm-12.block-we-do
        .inner-image
          img.bdrd-16.img-responsive(src='assets/imgs/page/homepage2/img-built.png', alt='Agon')
          .block-image-bottom
            img.bdrd-16.img-responsive(src='assets/imgs/page/homepage2/img-built-2.png', alt='Agon')
