section.section-box
  .container.mt-120
    .bg-2.bdrd-58.pattern-white.pb-60
      .row
        .col-lg-2.col-sm-1.col-12
        .col-lg-8.col-sm-10.col-12.text-center.mt-70
          h2.text-heading-1.color-gray-900 What We Offer
          p.text-body-lead-large.color-gray-600.mt-20
            | What makes us different from others? We give holistic solutions with strategy, design &amp; technology.
        .col-lg-2.col-sm-1.col-12
      .container.mt-70
        .box-swiper
          .swiper-container.swiper-group-3
            .swiper-wrapper.pb-70.pt-5
              .swiper-slide
                .card-grid-style-2.hover-up
                  .grid-2-img
                    img(src='assets/imgs/page/homepage1/market.svg', alt='Agon')
                  h3.text-heading-5.mt-20 Market research
                  p.text-body-text.color-gray-600.mt-20
                    | One make creepeth, man bearing theira firmament.
              .swiper-slide
                .card-grid-style-2.hover-up
                  .grid-2-img
                    img(src='assets/imgs/page/homepage1/consulting.svg', alt='Agon')
                  h3.text-heading-5.mt-20 Strategic Consulting
                  p.text-body-text.color-gray-600.mt-20
                    | One make creepeth, man bearing theira firmament.
              .swiper-slide
                .card-grid-style-2.hover-up
                  .grid-2-img
                    img(src='assets/imgs/page/homepage1/cognity.svg', alt='Agon')
                  h3.text-heading-5.mt-20 Cognitive Solution
                  p.text-body-text.color-gray-600.mt-20
                    | One make creepeth, man bearing theira firmament.
            .swiper-pagination.swiper-pagination3
