section.section-box
  .container
    .row
      .col-lg-2.col-sm-1.col-12
      .col-lg-8.col-sm-10.col-12.text-center.mt-100
        h2.text-heading-1.color-gray-900
          | We facilitate the creation
          br.d-lg-block.d-none
          |  of strategy and design
        p.text-body-lead-large.color-gray-600.mt-20
          | Interactively transform magnetic growth strategies whereas prospective &quot;outside the box&quot; thinking.
      .col-lg-2.col-sm-1.col-12
  .container.mt-70
    .row
      .col-lg-4.col-sm-12
        .card-grid-1.bg-5.bg-business.hover-up
          .grid-1-img
            img(src='assets/imgs/page/homepage1/business-strategy.svg', alt='Agon')
          h3.text-heading-3.mt-20 Business Strategy
          p.text-body-excerpt.mt-20
            | You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.
          .mt-30
            a.btn.btn-default.btn-white.icon-arrow-right(href='page-about-1.html') Learn more
      .col-lg-4.col-sm-12
        .card-grid-1.bg-9.bg-local.hover-up
          .grid-1-img
            img(src='assets/imgs/page/homepage1/local.svg', alt='Agon')
          h3.text-heading-3.mt-20 Local Marketing
          p.text-body-excerpt.mt-20
            | You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.
          .mt-30
            a.btn.btn-default.btn-white.icon-arrow-right(href='page-about-2.html') Learn more
      .col-lg-4.col-sm-12
        .card-grid-1.bg-2.bg-social.hover-up
          .grid-1-img
            img(src='assets/imgs/page/homepage1/social.svg', alt='Agon')
          h3.text-heading-3.mt-20 Social media
          p.text-body-excerpt.mt-20
            | You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.
          .mt-30
            a.btn.btn-default.btn-white.icon-arrow-right(href='page-about-3.html') Learn more