section.section-box.pt-100.pb-100.mt-100.bg-orange-100
  .container
    .row
      .col-lg-5.mb-30
        span.tag-1.bg-6.color-gray-900 Built Exclusively For You
        h3.text-heading-1.mt-30 Don&rsquo;t take our word for it. See what our clients say.
        p.text-body-lead-large.color-gray-600.mt-30
          | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
        .mt-40
          a.btn.btn-default.btn-white.icon-arrow-right(href='page-contact.html') Learn More
      .col-lg-7
        .row(data-masonry='{"percentPosition": true }')
          .col-lg-6.col-md-12.col-sm-12
            .card-grid-style-2.card-square.hover-up.mb-20
              p.text-body-text.color-gray-600.text-comment
                | &quot;No matter where you go, It&apos;s is the coolest, most happening thing around! Not able to tell you how happy I am with it. &quot;
              .box-img-user
                .img-user.img-user-round
                  img(src='assets/imgs/page/homepage2/user-1.png', alt='Agon')
                h4.text-body-lead.color-gray-900.mb-5 Jane Cooper
                p.text-body-text-md Biffco Enterprises Ltd.
          .col-lg-6.col-md-12.col-sm-12
            .card-grid-style-2.card-square.hover-up.mb-20
              p.text-body-text.color-gray-600.text-comment
                | &quot;Wow what great service, I love it! It&apos;s is the most valuable business resource we have EVER purchased. We can&apos;t understand how we&apos;ve been living without it. I couldn&apos;t have asked for more than this.&quot;
              .box-img-user
                .img-user.img-user-round
                  img(src='assets/imgs/page/homepage2/user-2.png', alt='Agon')
                h4.text-body-lead.color-gray-900.mb-5 Wade Warren
                p.text-body-text-md Krusty Krab
          .col-lg-6.col-md-12.col-sm-12
            .card-grid-style-2.card-square.hover-up.mb-20
              p.text-body-text.color-gray-600.text-comment
                | &quot;Your company is truly upstanding and is behind its product 100%. It&apos;s the perfect solution for our business. It has really helped our business. Needless to say we are extremely satisfied with the results. &quot;
              .box-img-user
                .img-user.img-user-round
                  img(src='assets/imgs/page/homepage2/user-3.png', alt='Agon')
                h4.text-body-lead.color-gray-900.mb-5 Leslie Alexander
                p.text-body-text-md Biffco Enterprises Ltd.
          .col-lg-6.col-md-12.col-sm-12
            .card-grid-style-2.card-square.hover-up.mb-20
              p.text-body-text.color-gray-600.text-comment
                | &quot;It&apos;s is both attractive and highly adaptable. It&apos;s exactly what I&apos;ve been looking for. Definitely worth the investment.&quot;
              .box-img-user
                .img-user.img-user-round
                  img(src='assets/imgs/page/homepage2/user-4.png', alt='Agon')
                h4.text-body-lead.color-gray-900.mb-5 Jenny Wilson
                p.text-body-text-md Soylent Corp
