section.section-box
  .container.mb-50.mt-70
    .bdrd-58.box-gray-100.icon-wave
      .row
        .col-lg-12.mb-60
          span.text-body-capitalized.text-uppercase Contact us
          h2.text-heading-3.color-gray-900.mt-10 Have an prject in mind?
          p.text-body-text.color-gray-600.mt-20
            | The right move at the right time saves your investment.
            br.d-lg-block.d-none
            |  live the dream of expanding your business.
        .col-lg-4.mb-40
          h4.text-heading-6.color-gray-900.icon-home.mb-10.mt-10 Agon Studio
          p.text-body-text.color-gray-600
            | 4517 Washington Ave. 
            br
            | Manchester, Kentucky 39495
          p.text-body-text.color-gray-600 (239) 555-0108
          p.text-body-text.color-gray-600 contact@agon.com
        .col-lg-8
          .row
            .col-lg-6
              .form-group
                input.form-control(type='text', value='', placeholder='Enter your name')
            .col-lg-6
              .form-group
                input.form-control(type='text', value='', placeholder='Comapy (optioanl)')
            .col-lg-6
              .form-group
                input.form-control(type='text', value='', placeholder='Your email')
            .col-lg-6
              .form-group
                input.form-control(type='text', value='', placeholder='Phone number')
            .col-lg-12
              .form-group
                textarea.form-control(placeholder='Tell us about yourself')
            .col-lg-12.mt-15
              button.btn.btn-black.icon-arrow-right-white.mr-40.mb-20(type='submit') Send Message
              br.d-lg-none.d-block
              span.text-body-text-md.color-gray-500.mb-20 By clicking contact us button, you agree our terms and policy,
