section.section-box
  .container.mt-90
    .row
      .col-lg-6.col-sm-12.block-img-we-do
        .inner-image
          img.bdrd-16.img-responsive(src='assets/imgs/page/homepage2/img-2.png', alt='Agon')
      .col-lg-6.col-sm-12.block-we-do-2
        span.tag-1.color-orange-900 What We Do, What You Get
        h3.text-heading-1.mt-30 The intelligent way to manage projects
        .list-icons.mt-50
          .item-icon.none-bd.hover-up
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-work.svg', alt='Agon')
            h4.text-heading-4 Work smarter with powerful features
            p.text-body-excerpt.color-gray-600.mt-15
              | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
          .item-icon.none-bd.hover-up
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-design.svg', alt='Agon')
            h4.text-heading-4 Designed for teams of all sorts and sizes
            p.text-body-excerpt.color-gray-600.mt-15
              | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
          .item-icon.none-bd.hover-up
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-advance.svg', alt='Agon')
            h4.text-heading-4 Advanced analytics to grow your business
            p.text-body-excerpt.color-gray-600.mt-15
              | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
