section.section-box.mt-80
  .container
    .row
      .col-lg-3.col-md-12.col-sm-12.mt-50
        h2.text-heading-1.color-gray-900.mb-30 How It Works
        p.text-body-excerpt.color-gray-600
          | Ac sapien purus tristique neque nibh vitae faucibus non phasellus vulputate nulla in eget amet, risus
      .col-lg-3.col-md-12.col-sm-12.mt-50
        .list-icons
          .item-icon.pl-0
            .mb-15
              img(src='assets/imgs/page/homepage2/icon-acquis.svg', alt='Agon')
            h4.text-heading-4 1. Acquisition
            p.text-body-text.color-gray-600.mt-15
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
      .col-lg-3.col-md-12.col-sm-12.mt-50
        .list-icons
          .item-icon.pl-0
            .mb-15
              img(src='assets/imgs/page/homepage2/icon-active.svg', alt='Agon')
            h4.text-heading-4 2. Activation
            p.text-body-text.color-gray-600.mt-15
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
      .col-lg-3.col-md-12.col-sm-12.mt-50
        .list-icons
          .item-icon.pl-0
            .mb-15
              img(src='assets/imgs/page/homepage2/icon-retent.svg', alt='Agon')
            h4.text-heading-4 3. Retention
            p.text-body-text.color-gray-600.mt-15
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
