.section-box.mt-100
  .container
    .row
      .col-lg-1.col-sm-1.col-12
      .col-lg-10.col-sm-10.col-12.text-center
        h2.text-heading-1.color-gray-900.mb-10 Providing solutions of every kind
        p.text-body-lead-large.color-gray-600.mt-20
          | In a professional context it often happens that private or
          br.d-lg-block.d-none
          |  corporate clients order a publication to publish news.
      .col-lg-1.col-sm-1.col-12
  .container.mt-40
    .row
      .col-lg-4.col-md-12.col-sm-12
        .list-icons.mt-50
          .item-icon
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-acquis.svg', alt='Agon')
            h4.text-heading-4 1. Acquisition
            p.text-body-text.color-gray-600.mt-15
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
      .col-lg-4.col-md-12.col-sm-12
        .list-icons.mt-50
          .item-icon
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-active.svg', alt='Agon')
            h4.text-heading-4 2. Activation
            p.text-body-text.color-gray-600.mt-15
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
      .col-lg-4.col-md-12.col-sm-12
        .list-icons.mt-50
          .item-icon
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-retent.svg', alt='Agon')
            h4.text-heading-4 3. Retention
            p.text-body-text.color-gray-600.mt-15
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
