section.section-box
  .container.mt-120
    .row
      .col-lg-6.col-sm-12.block-img-we-do
        .inner-image
          img.bdrd-16.img-responsive(src='assets/imgs/page/homepage2/img-2.png', alt='Agon')
          .block-chart
            img(src='assets/imgs/page/homepage2/chart.png', alt='Agon')
      .col-lg-6.col-sm-12.block-we-do-2
        span.tag-1.bg-6.color-green-900 What We Do, What You Get
        h3.text-heading-1.mt-30 Fresh Ideas. Thoughtful Design.
        p.text-body-lead-large.color-gray-600.mt-30
          | Feugiat primis ligula risus auctor egestas and augue viverra mauri tortor in iaculis magna a feugiat mauris ipsum and placerat viverra tortor gravida purus.
        .list-icons.mt-50
          .item-icon.none-bd
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-work.svg', alt='Agon')
            h4.text-heading-4 Work smarter with powerful features
            p.text-body-excerpt.color-gray-600.mt-15
              | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
          .item-icon.none-bd
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-design.svg', alt='Agon')
            h4.text-heading-4 Designed for teams of all sorts and sizes
            p.text-body-excerpt.color-gray-600.mt-15
              | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
          .item-icon.none-bd
            span.icon-left
              img(src='assets/imgs/page/homepage2/icon-advance.svg', alt='Agon')
            h4.text-heading-4 Advanced analytics to grow your business
            p.text-body-excerpt.color-gray-600.mt-15
              | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
