section.section-box
  .container
    .row
      .col-lg-2.col-sm-1.col-12
      .col-lg-8.col-sm-10.col-12.text-center.mt-70
        h2.text-heading-1.color-gray-900
          | See why we are trusted
          br.d-lg-block.d-none
          |  the world over
        p.text-body-lead-large.color-gray-600.mt-20
          | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla...
      .col-lg-2.col-sm-1.col-12
  .container
    .text-center.mt-90
      ul.nav(role='tablist')
        li
          a.btn.btn-default.btn-bd-green-hover.btn-select.active(href='#tab-1', data-bs-toggle='tab', role='tab', aria-controls='tab-1', aria-selected='true') Branding
        li
          a.btn.btn-default.btn-bd-green-hover.btn-select(href='#tab-2', data-bs-toggle='tab', role='tab', aria-controls='tab-2', aria-selected='true') Development
        li
          a.btn.btn-default.btn-bd-green-hover.btn-select(href='#tab-3', data-bs-toggle='tab', role='tab', aria-controls='tab-3', aria-selected='true') Animation
        li
          a.btn.btn-default.btn-bd-green-hover.btn-select(href='#tab-4', data-bs-toggle='tab', role='tab', aria-controls='tab-4', aria-selected='true') User Experience
        li
          a.btn.btn-default.btn-bd-green-hover.btn-select(href='#tab-5', data-bs-toggle='tab', role='tab', aria-controls='tab-5', aria-selected='true') Social Network
        li
          a.btn.btn-default.btn-bd-green-hover.btn-select(href='#tab-6', data-bs-toggle='tab', role='tab', aria-controls='tab-6', aria-selected='true') Marketing
  .container
    .tab-content
      // Start Tab
      #tab-1.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-1')
        .bg-2.panel-box.mt-50
          .row
            .col-lg-6.col-md-12
              .box-optimized
                h3.text-heading-2 Optimize and scale, easy to start
                p.text-body-excerpt.mt-30
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .mt-40
                  a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-1.html') Learn more
            .col-lg-6.col-md-12
              .block-video.icon-pattern
                a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
                img.img-responsive(src='assets/imgs/page/homepage1/img-1.png', alt='Agon')
      // End tab
      // Start Tab
      #tab-2.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2')
        .bg-1.panel-box.mt-50
          .row
            .col-lg-6.col-sm-12
              .box-optimized
                h3.text-heading-2 Design Studios That Everyone Should Know
                p.text-body-excerpt.mt-30
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .mt-40
                  a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-1.html') Learn more
            .col-lg-6.col-sm-12
              .block-video.icon-pattern
                a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
                img.img-responsive(src='assets/imgs/page/homepage1/img-1-2.jpg', alt='Agon')
      // End tab
      // Start Tab
      #tab-3.tab-pane.fade(role='tabpanel', aria-labelledby='tab-3')
        .bg-3.panel-box.mt-50
          .row
            .col-lg-6.col-sm-12
              .box-optimized
                h3.text-heading-2 We can blend colors multiple ways
                p.text-body-excerpt.mt-30
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .mt-40
                  a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-1.html') Learn more
            .col-lg-6.col-sm-12
              .block-video.icon-pattern
                a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
                img.img-responsive(src='assets/imgs/page/homepage1/img-1-3.jpg', alt='Agon')
      // End tab
      // Start Tab
      #tab-4.tab-pane.fade(role='tabpanel', aria-labelledby='tab-4')
        .bg-4.panel-box.mt-50
          .row
            .col-lg-6.col-sm-12
              .box-optimized
                h3.text-heading-2 Choose The Best Plan That's For You
                p.text-body-excerpt.mt-30
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .mt-40
                  a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-1.html') Learn more
            .col-lg-6.col-sm-12
              .block-video.icon-pattern
                a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
                img.img-responsive(src='assets/imgs/page/homepage1/img-1-4.jpg', alt='Agon')
      // End tab
      // Start Tab
      #tab-5.tab-pane.fade(role='tabpanel', aria-labelledby='tab-5')
        .bg-5.panel-box.mt-50
          .row
            .col-lg-6.col-sm-12
              .box-optimized
                h3.text-heading-2 Subscribe our newsletter to get gift
                p.text-body-excerpt.mt-30
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .mt-40
                  a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-1.html') Learn more
            .col-lg-6.col-sm-12
              .block-video.icon-pattern
                a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
                img.img-responsive(src='assets/imgs/page/homepage1/img-1-5.jpg', alt='Agon')
      // End tab
      // Start Tab
      #tab-6.tab-pane.fade(role='tabpanel', aria-labelledby='tab-6')
        .bg-6.panel-box.mt-50
          .row
            .col-lg-6.col-sm-12
              .box-optimized
                h3.text-heading-2 Ready to get started? Create and Account
                p.text-body-excerpt.mt-30
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .mt-40
                  a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-1.html') Learn more
            .col-lg-6.col-sm-12
              .block-video.icon-pattern
                a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
                img.img-responsive(src='assets/imgs/page/homepage1/img-1-6.jpg', alt='Agon')
      // End tab
