section.section-box
  .container.mt-100
    .row
      .col-lg-6.col-sm-12.block-img-we-do
        img.bdrd-16.img-responsive(src='assets/imgs/page/homepage1/img-2.png', alt='Agon')
      .col-lg-6.col-sm-12.block-we-do
        span.tag-1 What We Do, What You Get
        h3.text-heading-1.mt-30 We believe that our works can contribute to a better world.
        p.text-body-lead-large.color-gray-600.mt-30
          | Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level.
        .line-bd-green.mt-50
        .row
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Boost your sale
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Smart Installation Tools
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Introducing New Features
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
          .col-lg-6.col-sm-6.col-12.mt-50
            h4.text-heading-6.icon-leaf Dynamic Boosting
            p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
