section.section-box
  .container
    .row
      .col-lg-8
        h3.text-heading-1.mb-10 Latest News
        p.text-body-lead-large.color-gray-600 From Our blog and Event fanpage
      .col-lg-4.text-lg-end.text-start.pt-30
        a.btn.btn-black.icon-arrow-right-white(href='blog-1.html') View More
  .container.mt-90
    .row
      .col-lg-4.col-sm-12.pr-30
        .card-grid-style-4
          span.tag-dot Company
          a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
          .grid-4-img
            a(href='blog-single.html')
              img(src='assets/imgs/page/homepage1/img-news-1.png', alt='Agon')
      .col-lg-4.col-sm-12.pr-30
        .card-grid-style-4
          span.tag-dot Marketing Event
          a.text-heading-4(href='blog-single.html') How To Blow Through Capital At An Incredible Rate
          .grid-4-img
            a(href='blog-single.html')
              img(src='assets/imgs/page/homepage1/img-news-2.png', alt='Agon')
      .col-lg-4.col-sm-12.pr-30
        .card-grid-style-4
          span.tag-dot Customer Services
          a.text-heading-4(href='blog-single.html') Design Studios That Everyone Should Know About?
          .grid-4-img.color-bg-4
            a(href='blog-single.html')
              img(src='assets/imgs/page/homepage1/img-news-3.png', alt='Agon')
