section.section-box.mt-100
  .container
    .row
      .col-lg-2.col-sm-1.col-12
      .col-lg-8.col-sm-10.col-12.text-center
        h2.text-heading-1.color-gray-900 Or choose a category
        p.text-body-lead-large.color-gray-600.mt-20
          | Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a libero tempus, blandit and cursus varius and magnis sapien
      .col-lg-2.col-sm-1.col-12
  .container.mt-70
    .row
      .col-lg-4.col-md-4.col-sm-6.col-12
        .card-grid-style-6.hover-up.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
          .grid-6-img
            img(src='assets/imgs/page/homepage1/market.svg', alt='Agon')
          h3.text-heading-5.mt-20 Market research
          p.text-body-text.color-gray-600.mt-20
            | One make creepeth, man bearing theira firmament.
      .col-lg-4.col-md-4.col-sm-6.col-12
        .card-grid-style-6.hover-up.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
          .grid-6-img
            img(src='assets/imgs/page/homepage1/consulting.svg', alt='Agon')
          h3.text-heading-5.mt-20 Strategic Consulting
          p.text-body-text.color-gray-600.mt-20
            | One make creepeth, man bearing theira firmament.
      .col-lg-4.col-md-4.col-sm-6.col-12
        .card-grid-style-6.hover-up.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
          .grid-6-img
            img(src='assets/imgs/page/homepage1/cognity.svg', alt='Agon')
          h3.text-heading-5.mt-20 Cognitive Solution
          p.text-body-text.color-gray-600.mt-20
            | One make creepeth, man bearing theira firmament.