section.section-box
  .banner-hero.banner-breadcrums.bg-white
    .container.text-center
      .row
        .col-lg-12
          h1.text-display-3.color-gray-900.mb-20 Real Estate UI/UX kit
          p.text-heading-6.color-gray-600.mb-20
            | Streamlined, Modern, and User-Friendly
            br.d-lg-block.d-none
            |  Design for Real Estate Platforms.