section.section-box
  .banner-hero.banner-2
    .container
      .row
        .col-lg-7.mt-50
          span.tag-1.bg-green-900 Digital Marketing Agency
          h1.text-display-3.mt-30 Advanced analytics to grow your business
          p.text-body-lead-large.color-gray-500.mt-40.pr-40
            | Integrated workflow designed for product teams. We create world-class development and branding
          .mt-40
            a.btn.btn-black.shape-square.icon-arrow-right-white(href='page-about-1.html') Get Start
            a.btn.btn-link.icon-triangle.color-gray-900.ml-40(href='page-about-2.html') How it works
          .mt-50
            .row
              .col-lg-3.col-sm-4.col-4
                h3.text-heading-4.color-gray-900.mb-15 +
                  span.count 38
                  | k
                p.text-body-text-md.color-gray-500 Happy Clients
              .col-lg-3.col-sm-4.col-4
                h3.text-heading-4.color-gray-900.mb-15 +
                  span.count 45
                  | k
                p.text-body-text-md.color-gray-500 Project Done
              .col-lg-3.col-sm-4.col-4
                h3.text-heading-4.color-gray-900.mb-15 
                  span.count 100
                  | %
                p.text-body-text-md.color-gray-500 Client Satisfaction
        .col-lg-5.d-none.d-lg-block
          .banner-imgs
            .block-1.shape-2
              img(src='assets/imgs/page/homepage2/balance.png', alt='Agon')
            .block-2.shape-3
              img(src='assets/imgs/page/homepage2/payment.png', alt='Agon')
            img.img-responsive.shape-1(alt='Agon', src='assets/imgs/page/homepage2/banner.png')
