section.section-box
  .banner-hero.banner-4
    .container
      .row
        .col-lg-7.pb-120
          h1.text-display-3.color-white Equipping Leaders. Serving the Church. Impacting the World.
          p.text-body-lead-large.color-white.mt-30.pr-40
            | With accredited online programs, flexible scheduling, and a Christ-centered foundation, NBC is the trusted choice for students balancing education, ministry, and life.
          .mt-40
            a.btn.btn-brand.text-heading-6(href='page-about-1.html') Explore Programs
            a.btn.btn-outline.ml-15.icon-arrow-right-white.text-heading-6.btn-link-inter(href='page-contact.html') MyNBC
        .col-lg-5.d-none.d-lg-block.banner-imgs
          img.img-responsive(alt='Woman happily working at a laptop, a coffee cup sits nearby', src=`${PREFIX}/assets/imgs/template/homepage-hero.png`)
