section.section-box
  .banner-hero.banner-4
    .container
      .row
        .col-lg-7
          h1.text-display-2.color-white Advanced analytics to grow your business
          p.text-body-lead-large.color-white.mt-30.pr-40
            | Integrated workflow designed for product teams. We create world-class development and branding
          .mt-40
            a.btn.btn-pink.icon-arrow-right-white.text-heading-6(href='page-about-1.html') Get Start
            a.btn.btn-link.color-white.text-heading-6.btn-link-inter(href='page-contact.html') Learn More
          .mt-60
            .row
              .col-lg-3.col-sm-4.col-4
                h3.text-heading-2.color-white.mb-15 5000+
                p.text-body-normal.color-gray-300 Happy Clients
              .col-lg-3.col-sm-4.col-4
                h3.text-heading-2.color-white.mb-15 756+
                p.text-body-normal.color-gray-300 Project Done
              .col-lg-3.col-sm-4.col-4
                h3.text-heading-2.color-white.mb-15 100%
                p.text-body-normal.color-gray-300 Client Satisfaction
        .col-lg-5.d-none.d-lg-block
          .banner-imgs
            a.popup-youtube.btn-play-video-2(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
            img.img-responsive.shape-2(alt='Agon', src='assets/imgs/page/homepage4/banner.png')
