.section-box.overflow-visible.mt-80
  .container
    h2.text-heading-3.text-center.color-gray-900.mb-60 Trusted by the world&rsquo;s leading companies
    .row
      .col-lg-12
        ul.list-partners
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-1.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-2.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-3.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-4.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-5.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-6.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-7.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-8.svg')
          li
            a.item-logo.box-hover-shadow.hover-up(href='#')
              img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-9.svg')
