section.section-box
  .banner-hero.banner-3
    .container
      .text-center
        span.tag-1.bg-6.color-green-900 Digital Marketing Agency
        i.fi-rr-add
        h1.text-display-2.color-gray-900.mt-40
          | Advanced analytics to grow
          br.d-lg-block.d-none
          |  your business
        .text-body-lead-large.color-gray-500.mt-40
          | Get a website to be found on the first page of Google to
          br.d-lg-block.d-none
          |  avoid missing out on potential visitors and sales.
        .mt-50
          a.btn.btn-black.icon-arrow-right-white.mb-15(href='page-about-1.html') Start free trial
          a.btn.btn-default.icon-arrow-right.color-gray-900.ml-20.btn-mb.mb-15(href='page-about-2.html') Learn more
