section.section-box.section-green.mt-100
  .container.mt-70
    h3.text-heading-1.color-white.text-center.mb-10
      | Choose The Best Plan
      br.d-lg-block.d-none
      |  That&rsquo;s For You
  .container.mt-70
    .text-center.mt-10
      span.text-lg.text-billed Billed Monthly
      label.switch.ml-20.mr-20
        input#cb_billed_type(type='checkbox', name='billed_type', onchange='checkBilled()')
        span.slider.round
      span.text-lg.text-billed Bill Annually
    .block-pricing.mt-70
      .row
        .col-xl-10.col-lg-12.offset-xl-1
          .row
            .col-lg-4.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
              .box-pricing-item
                .box-info-price
                  span.text-heading-3.for-month.display-month $35
                  span.text-heading-3.for-year $420
                  span.text-month.for-month.text-body-small.color-gray-400 /month
                  span.text-month.for-year.text-body-small.color-gray-400 /year
                .line-bd-bottom
                  h4.text-heading-5.mb-15 Standard
                  p.text-body-small.color-gray-400
                    | All the basics for businesses that are just getting started.
                ul.list-package-feature
                  li Unlimited updates
                  li Custom permissions
                  li.uncheck Custom designs &amp; features
                  li.uncheck Custom hashtags
                div
                  a.btn.btn-black-border.text-body-lead.icon-arrow-right(href='#') Get Started
            .col-lg-4.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
              .box-pricing-item
                .box-info-price
                  span.text-heading-3.for-month.display-month $89
                  span.text-heading-3.for-year $1068
                  span.text-month.for-month.text-body-small.color-gray-400 /month
                  span.text-month.for-year.text-body-small.color-gray-400 /year
                .line-bd-bottom
                  h4.text-heading-5.mb-15 Essentials
                  p.text-body-small.color-gray-400
                    | All the basics for businesses that are just getting started.
                ul.list-package-feature
                  li Unlimited updates
                  li Custom permissions
                  li Custom instructors
                  li.uncheck Optimize hashtags
                div
                  a.btn.btn-black-border.text-body-lead.icon-arrow-right(href='#') Get Started
            .col-lg-4.col-md-12.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
              .box-pricing-item
                .box-info-price
                  span.text-heading-3.for-month.display-month $125
                  span.text-heading-3.for-year $1500
                  span.text-month.for-month.text-body-small.color-gray-400 /month
                  span.text-month.for-year.text-body-small.color-gray-400 /year
                .line-bd-bottom
                  h4.text-heading-5.mb-15 Premium
                  p.text-body-small.color-gray-400
                    | Avvanced features for pros who need more customization.
                ul.list-package-feature
                  li Unlimited updates
                  li Custom designs &amp; features
                  li Custom permissions
                  li Optimize hashtags
                  li Custom instructors
                div
                  a.btn.btn-black-border.text-body-lead.icon-arrow-right(href='#') Get Started
