.row
  .col-lg-12.col-sm-12.col-12.text-center.mt-40
    h2.text-heading-1.color-gray-900.mb-10
      | Compare Pricing
      br.d-lg-block.d-none
      |  Packages
  .col-lg-12.col-sm-12.col-12.text-center.mt-70
    .table-responsive
      .table-mw-700
        table.table.table-striped.table-pricing
          thead
            tr
              th(width='40%')
              th.text-center(width='20%')
                span.text-heading-5.color-gray-900.d-block.mb-10 Basic
                p.text-body-text.color-gray-400.mb-20 On request
              th.text-center(width='20%')
                span.text-heading-5.color-gray-900.d-block.mb-10 Premium
                p.text-body-text.color-gray-400.mb-20 On request
              th.text-center(width='20%')
                span.text-heading-5.color-gray-900.d-block.mb-10 Enterprise
                p.text-body-text.color-gray-400.mb-20 On request
          tbody
            tr
              td
                | Members 
                span.icon-question-2
              td 1
              td Up to 3
              td Unlimited
            tr
              td
                | Workspace roles 
                span.text-bd-round.text-body-small soon
                span.icon-question-2
              td Admin only
              td Admin only
              td Admin &amp; collaborator
            tr
              td
                | Guests 
                span.text-bd-round.text-body-small soon
                span.icon-question-2
              td
              td
              td
                span.tick-green
            tr
              td
                | Live collaboration 
                span.text-bd-round.text-body-small soon
                span.icon-question-2
              td
              td
                span.tick-green
              td
                span.tick-green
            tr
              td
                | Integration of sub-brands 
                span.icon-question-2
              td
              td
                span.tick-green
              td
                span.tick-green
            tr
              td
                | Access to standard templates 
                span.icon-question-2
              td
                span.tick-green
              td
                span.tick-green
              td
                span.tick-green
            tr
              td
                | Access to pro templates 
                span.icon-question-2
              td
              td
                span.tick-green
              td
                span.tick-green
            tr
              td
                | Custom designed templates 
                span.icon-question-2
              td
              td
              td
                span.tick-green
            tr
              td
                | Asset library 
                span.icon-question-2
              td
                span.tick-green
              td
                span.tick-green
              td
                span.tick-green
