section.section-box
  .banner-hero.banner-1
    .container
      .row
        .col-lg-7
          h1.text-display-2
            | We are 
            span.color-green-900 awesome team
            |  for your business dream
          p.text-body-lead-large.color-gray-500.mt-40.pr-40
            | Integrated workflow designed for product teams. We create world-class development and branding..
          .mt-40
            a.btn.btn-black.icon-arrow-right-white(href='page-service-1.html') Get Start
            a.btn.btn-link.icon-arrow-right.color-gray-900.text-heading-6(href='page-about-1.html') Learn More
        .col-lg-5.d-none.d-lg-block
          .banner-imgs
            .video-block.shape-1
              a.popup-youtube.btn-play-video(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
              span.text-heading-4 Watch intro video
            img.img-responsive.shape-2(alt='Agon', src='assets/imgs/page/homepage1/banner.png')