section.section-box.overflow-visible.mb-100
  .container.mt-100
    .row
      .col-lg-10.mx-auto
        .bg-2.box-newsletter.position-relative
          .row
            .col-lg-5.col-md-7
              span.text-body-capitalized.color-gray-500.text-uppercase newsletter
              h4.text-heading-2.mb-10.mt-10 Subscribe our newsletter
              p.text-body-text.color-gray-500 By clicking the button, you are agreeing with our
              a(href='page-terms.html') Term &amp; Conditions
              .box-form-newsletter.mt-30
                form.form-newsletter
                  input.input-newsletter(type='text', value='', placeholder='Enter you mail ..')
                  button.btn.btn-send
            .col-lg-7.col-md-5.mt-30.mt-lg-0.mt-md-30.mt-sm-30.position-relative.text-end
              .block-chart.shape-1
                img(src='assets/imgs/template/chart.png', alt='Agon')
              img.img-responsive.img-newsletter(src='assets/imgs/template/img-newsletter.png', alt='Agon')