.section-box.overflow-visible.mt-70
  .container
    .row.justify-content-md-center
      .col-lg-2.col-md-3.col-sm-4.col-6.text-center
        a.item-logo.box-hover-shadow.hover-up(href='#')
          img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-1.svg')
      .col-lg-2.col-md-3.col-sm-4.col-6.text-center
        a.item-logo.box-hover-shadow.hover-up(href='#')
          img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-2.svg')
      .col-lg-2.col-md-3.col-sm-4.col-6.text-center
        a.item-logo.box-hover-shadow.hover-up(href='#')
          img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-3.svg')
      .col-lg-2.col-md-3.col-sm-4.col-6.text-center
        a.item-logo.box-hover-shadow.hover-up(href='#')
          img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-4.svg')
      .col-lg-2.col-md-3.col-sm-4.col-6.text-center
        a.item-logo.box-hover-shadow.hover-up(href='#')
          img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-5.svg')
      .col-lg-2.col-md-3.col-sm-4.col-6.text-center
        a.item-logo.box-hover-shadow.hover-up(href='#')
          img(alt='Agon', src='assets/imgs/slider/logo/sample-logo-6.svg')
