section.section-box
  .container.mt-130
    .row
      .col-lg-12.col-sm-12.col-12
        h2.text-heading-1.color-gray-900.mb-10 What&apos;s new
        p.text-body-lead-large.color-gray-600.mt-20 From Our blog and Event fanpage
  .container.mt-90
    .row
      .col-lg-4.col-sm-6.pr-30.mb-50
        .card-grid-style-4
          .grid-4-img.color-bg-9.mb-20
            a(href='#')
              img(src='assets/imgs/page/shop1/img.png', alt='Agon')
          a.text-heading-4(href='#') We can blend colors multiple ways, the most common
          p.text-body-text.color-gray-500
            | Lorem ipsum dolor sit amet consectetur adipiscing elit interdum ullamcorper sed pharetra senectus donec nunc. Consequat semper viverra nam libero justo laoreet facilisis magna etiam.
          .blog-img-user
            .img-user.img-user-round
              img(src='assets/imgs/page/blog/2/user-1.png', alt='Agon')
            h4.text-heading-6.color-gray-900 Jenny Wilson
            p.text-body-small.color-gray-500 August 25, 2025
      .col-lg-4.col-sm-6.pr-30.mb-50
        .card-grid-style-4
          .grid-4-img.color-bg-2.mb-20
            a(href='#')
              img(src='assets/imgs/page/shop1/img-2.png', alt='Agon')
          a.text-heading-4(href='#') We can blend colors multiple ways, the most common
          p.text-body-text.color-gray-500
            | Lorem ipsum dolor sit amet consectetur adipiscing elit interdum ullamcorper sed pharetra senectus donec nunc. Consequat semper viverra nam libero justo laoreet facilisis magna etiam.
          .blog-img-user
            .img-user.img-user-round
              img(src='assets/imgs/page/blog/2/user-2.png', alt='Agon')
            h4.text-heading-6.color-gray-900 Jenny Wilson
            p.text-body-small.color-gray-500 August 25, 2025
      .col-lg-4.col-sm-12.pr-30.mb-50
        .card-list-style-1
          a.text-heading-6(href='#') Design Studios That Everyone Should Know About?
          .blog-img-user
            .img-user.img-user-round
              img(src='assets/imgs/page/blog/2/user-3.png', alt='Agon')
            h4.text-body-lead.color-gray-500 Jane Cooper
            p.text-body-small.color-gray-500 August 25, 2025
          .style-1-img.color-bg-10
            a(href='#')
              img(src='assets/imgs/page/shop1/img-3.png', alt='Agon')
        .card-list-style-1
          a.text-heading-6(href='#') Design Studios That Everyone Should Know About?
          .blog-img-user
            .img-user.img-user-round
              img(src='assets/imgs/page/blog/2/user-4.png', alt='Agon')
            h4.text-body-lead.color-gray-500 Wade Warren
            p.text-body-small.color-gray-500 August 25, 2025
          .style-1-img.color-bg-2
            a(href='#')
              img(src='assets/imgs/page/shop1/img-4.png', alt='Agon')
        .card-list-style-1
          a.text-heading-6(href='#') Design Studios That Everyone Should Know About?
          .blog-img-user
            .img-user.img-user-round
              img(src='assets/imgs/page/blog/2/user-5.png', alt='Agon')
            h4.text-body-lead.color-gray-500 Jenny Wilson
            p.text-body-small.color-gray-500 August 25, 2025
          .style-1-img.color-bg-5
            a(href='#')
              img(src='assets/imgs/page/shop1/img-5.png', alt='Agon')
        .card-list-style-1
          a.text-heading-6(href='#') Design Studios That Everyone Should Know About?
          .blog-img-user
            .img-user.img-user-round
              img(src='assets/imgs/page/blog/2/user-6.png', alt='Agon')
            h4.text-body-lead.color-gray-500 Robert Fox
            p.text-body-small.color-gray-500 August 25, 2025
          .style-1-img.color-bg-9
            a(href='#')
              img(src='assets/imgs/page/shop1/img-6.png', alt='Agon')
