.section-box.mt-90
  .container
    h2.text-heading-1.color-gray-900 Browse by category
    .row
      .col-lg-6
        p.text-body-lead-large.color-gray-600.mt-20
          | All the smart devices, electronics or software you need are ready to be discovered. Let&rsquo;s go!
      .col-lg-6.text-end
        a.btn.btn-default.hover-up.icon-arrow-right.mt-10(href='page-signup.html') Browse All
  .container.mt-70
    .row
      +CategoryCard('assets/imgs/page/shop1/pc.svg', 'Desktop PC', '1253 products')
      +CategoryCard('assets/imgs/page/shop1/headphone.svg', 'Headphone', '453 products')
      +CategoryCard('assets/imgs/page/shop1/laptop.svg', 'Laptop', '7653 products')
      +CategoryCard('assets/imgs/page/shop1/mobile.svg', 'Mobile Phone', '1253 products')
      +CategoryCard('assets/imgs/page/shop1/printer.svg', 'Printer', '7253 products')
      +CategoryCard('assets/imgs/page/shop1/book.svg', 'Books', '1253 products')
      +CategoryCard('assets/imgs/page/shop1/tablet.svg', 'Tablet', '3253 products')
      +CategoryCard('assets/imgs/page/shop1/usb.svg', 'USB Flash', '4253 products')
      +CategoryCard('assets/imgs/page/shop1/mouse.svg', 'Game Mouse', '653 products')
      +CategoryCard('assets/imgs/page/shop1/security.svg', 'Security', '453 products')
      +CategoryCard('assets/imgs/page/shop1/watch.svg', 'Watch', '1353 products')
      +CategoryCard('assets/imgs/page/shop1/scan.svg', 'Scanner', '253 products')