section.section-box
  .banner-hero.banner-breadcrums.bg-gray-100
    .container.text-center
      .row
        .col-lg-12
          h1.text-display-3.color-gray-900.mb-20 Shop: Electronic
          p.text-heading-6.color-gray-600.mb-20
            | From year to year we strive to invent the most innovative technology
            br.d-lg-block.d-none
            |  that is used by both small enterprises and space enterprises.