section.section-box.mt-70.shop-bottom-banner
  .container
    .box-green.box-green-2.bdr-18
      h3.text-heading-1.color-white
        | You can order on
        br.d-lg-block.d-none
        |  App and Play store
      p.text-desc-white Bring the world of shopping to your phone
      .mt-60
        a.mr-20(href='#')
          img(src='assets/imgs/page/homepage5/apple-button.svg' alt='agon')
        a(href='#')
          img(src='assets/imgs/page/homepage5/google-play.svg' alt='agon')
      .mt-10
        span.cb-layout.mr-5 Order direct from the app
        span.cb-layout Save and searches
      .block-1.d-none.d-lg-block
        img(src='assets/imgs/page/shop1/safety.png' alt='agon')
      .block-2.d-none.d-lg-block
        img(src='assets/imgs/page/shop1/chart.png' alt='agon')
