.col-xl-3.col-lg-4.col-md-12.col-sm-12.col-12.dr-ltr
  .sidebar
    .widget-title
      h3.text-heading-5.color-gray-900 Filter items
    .widget-content
      .mt-30
        span.color-gray-500.d-inline-block.mr-5 Price Range:
        span.text-heading-5.color-green-900.d-inline-block
          span#price-from $16
          |  - 
          span#price-to $173
        input.form-control.min-value(type='hidden', name='min-value', value='')
        input.form-control.max-value(type='hidden', name='max-value', value='')
      .filter-block.mb-50.mt-35
        .row.mb-20
          .col-sm-12
            #slider-range
      h4.text-heading-6.color-green-900.mt-30 Used for
      ul.list-type
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Professional
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Students
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Office
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Company
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Sport
            span.checkmark
      h4.text-heading-6.color-green-900 Brand
      ul.list-type
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Apply
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Assus
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Samsung
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Sony
            span.checkmark
        li
          label.cb-container.text-body-text.color-gray-500
            input(type='checkbox')
            span.text-lbl Toshiba
            span.checkmark
      h4.text-heading-6.color-green-900 Color
      ul.list-type
        li
          label.text-body-text.color-gray-500
            span.circle-round.color-danger
            |  Apply
        li
          label.text-body-text.color-gray-500
            span.circle-round.color-success
            |  Assus
        li
          label.text-body-text.color-gray-500
            span.circle-round.color-primary
            |  Samsung
        li
          label.text-body-text.color-gray-500
            span.circle-round.color-black
            |  Sony
        li
          label.text-body-text.color-gray-500
            span.circle-round.color-warning
            |  Toshiba
      .mt-0
        a.btn.btn-filter(href='#') Filter
  .sidebar
    .widget-title
      h3.text-heading-5.color-gray-900 Popular Items
    .widget-content
      ul.list-products-sidebar
        li
          .product-item-2.product-item-4
            .product-image
              a(href='#')
                img(src='assets/imgs/page/shop1/sp5.png' alt='agon')
            .product-info
              a(href='#')
                h3.text-heading-7.color-gray-900 HP 232v Printers 
              .rating.mt-5
                .box-rating
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star.svg'  alt='agon')
                a.text-semibold(href='#') (84 rates)
                .d-flex.mt-5
                  .box-prices
                    span.price-regular.mr-5 $22.51
                    span.price-regular.price-line $2.8
        li
          .product-item-2.product-item-4
            .product-image
              a(href='#')
                img(src='assets/imgs/page/homepage5/sp1.png' alt='agon')
            .product-info
              a(href='#')
                h3.text-heading-7.color-gray-900 All Natural Italian-Style Chicken Meatballs
              .rating.mt-5
                .box-rating
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star.svg'  alt='agon')
                a.text-semibold(href='#') (84 rates)
                .d-flex.mt-10
                  .box-prices
                    span.price-regular.mr-5 $22.51
                    span.price-regular.price-line $2.8
        li
          .product-item-2.product-item-4
            .product-image
              a(href='#')
                img(src='assets/imgs/page/homepage5/sp2.png' alt='agon')
            .product-info
              a(href='#')
                h3.text-heading-7.color-gray-900 All Natural Italian-Style Chicken Meatballs
              .rating.mt-5
                .box-rating
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star.svg'  alt='agon')
                a.text-semibold(href='#') (84 rates)
                .d-flex.mt-10
                  .box-prices
                    span.price-regular.mr-5 $22.51
                    span.price-regular.price-line $2.8
        li
          .product-item-2.product-item-4
            .product-image
              a(href='#')
                img(src='assets/imgs/page/homepage5/sp3.png' alt='agon')
            .product-info
              a(href='#')
                h3.text-heading-7.color-gray-900 All Natural Italian-Style Chicken Meatballs
              .rating.mt-5
                .box-rating
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star.svg'  alt='agon')
                a.text-semibold(href='#') (84 rates)
                .d-flex.mt-10
                  .box-prices
                    span.price-regular.mr-5 $22.51
                    span.price-regular.price-line $2.8
        li
          .product-item-2.product-item-4
            .product-image
              a(href='#')
                img(src='assets/imgs/page/shop1/sp4.png' alt='agon')
            .product-info
              a(href='#')
                h3.text-heading-7.color-gray-900 All Natural Italian-Style Chicken Meatballs
              .rating.mt-5
                .box-rating
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star-active.svg' alt='agon')
                  span
                    img(src='assets/imgs/page/homepage5/star.svg'  alt='agon')
                a.text-semibold(href='#') (84 rates)
                .d-flex.mt-10
                  .box-prices
                    span.price-regular.mr-5 $22.51
                    span.price-regular.price-line $2.8
  .sidebar.sidebar-gray
    .widget-title.none-bd
      h3.text-heading-5.color-gray-900 Get free coupons
    .widget-content
      p.text-body-text.color-gray-500 Enter you email address and get free coupons.
      form.form-newletters.mt-15(action='#', method='get')
        input.text-email(type='text', placeholder='Enter email address')
        input.btn.btn-green-900.btn-green-small.mt-20(type='submit', value='Submit')
