section.section-box.mt-90
  .container
    h2.text-heading-1.color-gray-900 Viewed products
    p.text-body-lead-large.color-gray-600.mt-20 Take it to your cart
  .container.mt-70
    .row
      +ProductCard-2('assets/imgs/page/homepage5/sp1.png','Bass ultra x-203. Head phone','$29.8','$32.2')
      +ProductCard-2('assets/imgs/page/homepage5/sp2.png','Boxie by Dro C 3450. Active Noise','$30.2','$42.5')
      +ProductCard-2('assets/imgs/page/homepage5/sp3.png','Sony DSC H300 - 20.1 Megapixel','$59.8','$62.3')
      +ProductCard-2('assets/imgs/page/homepage5/sp4.png','Bass ultra x-203. Head phone','$42.6','$52.3')
      +ProductCard-2('assets/imgs/page/homepage5/sp5.png','Boxie by Dro C 3450. Active Noise','$69.5','$71.5')
      +ProductCard-2('assets/imgs/page/homepage5/sp6.png','Sony DSC H300 - 20.1 Megapixel','$52.9','$55.6')