extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  section.section-box
    .banner-hero.banner-head-image(style='background: url(assets/imgs/page/blog/single/banner.png);')
      .container
        .text-center
          span.tag-1.bg-6.color-green-900 TECHNOLOGY NEWS
          h1.text-heading-1.color-white.mt-30
            | Microsoft Patch Management
            br.d-lg-block.d-none
            |  For Home Users
  section.section-box.mt-50.mb-50
    .container
      .row
        .col-lg-1.col-md-12
        .col-lg-1.col-md-2.col-sm-2.col-3.text-center
          .social-sticky 
            h3.text-heading-6.color-gray-400.mb-20.mt-5 Share
            a.share-social.share-fb(href='https://facebook.com', target='_blank')
            br
            a.share-social.share-tw(href='https://twitter.com', target='_blank')
            br
            a.share-social.share-pi(href='https://www.pinterest.com', target='_blank')
        .col-lg-8.col-md-8.col-sm-10.col-9
          .text-summary
            | The fancy moon going in little artist painting. Thirty days of lavender in the dreamy light inside. Other perfect oh plants, for and again. I&rsquo;ve honey feeling. Caring dreamland projects noteworthy than minimal, their it oh pretty feeling may. Include pink be.
      .row
        .col-lg-2
        .col-lg-8
          .row
            .col-lg-6.col-md-7.col-sm-7.col-7
              .blog-img-user
                .img-user.img-user-round
                  img(src='assets/imgs/page/blog/2/user-3.png', alt='Agon')
                h4.text-body-lead.color-gray-900 Jane Cooper
                p.text-body-small.color-gray-500 August 25, 2025
            .col-lg-6.col-md-5.col-sm-5.col-5.tag-mb.text-end
              span.tag-1.bg-6.color-green-900.mt-40 18 comments
      .row
        .col-lg-2
        .col-lg-8
          .single-detail.mt-50
            img.img-responsive.bdr-16(src='assets/imgs/page/blog/single/img-1.png', alt='Agon')
            p
            p
              | Tortor placerat bibendum consequat sapien, facilisi facilisi pellentesque morbi. Id conse ctetur ut vitae a massa a. Lacus ut bibendum sollicitudin fusce sociis mi. Dictum volutpat praesent ornare accumsan elit venenatis. Congue sodales nunc quis ultricies odio porta. Egestas mauris placerat leo phasellu s ut sit.
            h2.text-heading-3 Use your headings
            p
              | Thirty there &amp; time wear across days, make inside on these you. Can young a really, roses blog small of song their dreamy life pretty? Because really duo living to noteworthy bloom bell. Transform clean daydreaming cute twenty process rooms cool. White white dreamy dramatically place everything although. Place out apartment afternoon whimsical kinder, little romantic joy we flowers handmade. Thirty she a studio of she whimsical projects, afternoon effect going an floated maybe.
            p
            .box-quote
              .text-quote
                | Blandit consequat feugiat sed dapibus lorem diam nibh venenatis sodales pulvinar augue adipiscing turpis nulla sit tincidunt non lacus sit amet et white dreamy dramatically place.
              .box-user
                .img-user
                  img(src='assets/imgs/page/blog/single/user-4.png', alt='Agon')
                span.text-heading-5.color-white Ronald Richards
            p
            h3.text-heading-4 Smaller heading
            .row
              .col-lg-8
                p
                  | Thirty there &amp; time wear across days, make inside on these you. Can young a really, roses blog small of song their dreamy life pretty? Because really duo living to noteworthy bloom bell. Transform clean daydreaming cute twenty process rooms cool. White white dreamy dramatically place everything although.
                p
                  | White white dreamy dramatically place everything although. Place out apartment afternoon whimsical kinder, little romantic joy we flowers handmade. Thirty she a studio of she whimsical projects, afternoon effect going an floated maybe.
              .col-lg-4
                img.img-responsive.bdr-10.mt-10(src='assets/imgs/page/blog/single/img-2.png', alt='Agon')
            p
            p
              | Tortor placerat bibendum consequat sapien, facilisi facilisi pellentesque morbi. Id consectetur ut vitae a massa a. Lacus ut bibendum sollicitudin fusce sociis mi. Dictum volutpat praesent ornare accumsan elit venenatis. Congue sodales nunc quis ultricies odio porta. Egestas mauris placerat leo phasellus ut sit.
            p
            .row.mt-45.mb-30
              .col-lg-6
                img.img-responsive(src='assets/imgs/page/blog/single/img-3.png', alt='Agon')
              .col-lg-6
                img.img-responsive.mb-20(src='assets/imgs/page/blog/single/img-4.png', alt='Agon')
                img.img-responsive(src='assets/imgs/page/blog/single/img-5.png', alt='Agon')
              .caption-img.mt-10.text-center.color-gray-400 furniture in your house
            p
            h3.text-heading-3 Use your headings
            p
              | Thirty there &amp; time wear across days, make inside on these you. Can young a really, roses blog small of song their dreamy life pretty? Because really duo living to noteworthy bloom bell. Transform clean daydreaming cute twenty process rooms cool. White white dreamy dramatically place everything although. Place out apartment afternoon whimsical kinder, little romantic joy we flowers handmade. Thirty she a studio of she whimsical projects, afternoon effect going an floated maybe.
            .border-bottom.mt-50.mb-50
            div
              a.btn.btn-tag.mr-10(href='blog-1.html') Nature
              a.btn.btn-tag.mr-10(href='blog-2.html') Beauty
              a.btn.btn-tag.mr-10(href='blog-1.html') Travel tips
              a.btn.btn-tag(href='blog-2.html') Houes
          .mt-60
            h4.text-heading-2 Comments
            .box-comments
              ul
                li
                  .item-comment
                    .blog-img-user
                      .img-user.img-user-round
                        img(src='assets/imgs/page/blog/single/user-1.png', alt='Agon')
                      h4.text-heading-6.color-gray-900 Robert Fox
                      p.text-body-small.color-gray-500 August 25, 2025
                    .text-comment
                      | White white dreamy drama tically place everything although. Place out apartment afternoon whimsical kinder, little romantic joy we flowers handmade.
                li
                  .item-comment
                    .blog-img-user
                      .img-user.img-user-round
                        img(src='assets/imgs/page/blog/single/user-2.png', alt='Agon')
                      h4.text-heading-6.color-gray-900 Robert Fox
                      p.text-body-small.color-gray-500 August 25, 2025
                    .text-comment
                      | White white dreamy drama tically place everything although. Place out apartment afternoon whimsical kinder, little romantic joy we flowers handmade.
                  ul
                    li
                      .item-comment
                        .blog-img-user
                          .img-user.img-user-round
                            img(src='assets/imgs/page/blog/single/user-3.png', alt='Agon')
                          h4.text-heading-6.color-gray-900 Robert Fox
                          p.text-body-small.color-gray-500 August 25, 2025
                        .text-comment
                          | White white dreamy drama tically place everything although. Place out apartment afternoon whimsical kinder, little romantic joy we flowers handmade.
            .border-bottom.mt-50.mb-50
            h4.text-heading-4.color-gray-900.mb-40 Leave a comment
            .form-comment
              form(action='#')
                .form-group
                  textarea.input-comment(placeholder='Write a comment')
                .row
                  .col-lg-5.col-md-6.col-sm-7.mb-30
                    label.box-agree
                      input.chkbox-aggree(type='checkbox')
                      span.text-body-text-md.color-gray-1200 Save my name, email, and website in this browser for the next time I comment.
                  .col-lg-7.col-md-6.col-sm-5.text-end
                    button.btn.btn-black.shape-square.btn-md.text-body-text Post comment
