extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  section.section-box
    .banner-hero.banner-breadcrums.bg-gray-100
      .container.text-center
        .row
          .col-lg-12
            h1.text-display-3.color-gray-900.mb-20 Our Blog
            p.text-heading-6.color-gray-600.mb-20
              | From year to year we strive to invent the most innovative technology
              br.d-lg-block.d-none
              |  that is used by both small enterprises and space enterprises.
  section.section-box
    .container.mt-130
      .row
        .col-lg-1.col-sm-1.col-12
        .col-lg-10.col-sm-10.col-12.text-center
          h2.text-heading-1.color-gray-900.mb-10 Featured Articles
          p.text-body-lead-large.color-gray-600.mt-20 From Our Blog And Event Fanpage
        .col-lg-1.col-sm-1.col-12
    .container.mt-90
      .row
        .col-lg-4.col-sm-6.pr-30.mb-50
          .card-grid-style-4
            .grid-4-img.mb-20
              a(href='blog-single.html')
                img(src='assets/imgs/page/blog/2/img-1.png', alt='Agon')
            a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
            p.text-body-text.color-gray-500
              | Lorem ipsum dolor sit amet consectetur adipiscing elit interdum ullamcorper sed pharetra senectus donec nunc. Consequat semper viverra nam libero justo laoreet facilisis magna etiam.
            .blog-img-user
              .img-user.img-user-round
                img(src='assets/imgs/page/blog/2/user-1.png', alt='Agon')
              h4.text-heading-6.color-gray-900 Jenny Wilson
              p.text-body-small.color-gray-500 August 25, 2025
        .col-lg-4.col-sm-6.pr-30.mb-50
          .card-grid-style-4
            .grid-4-img.color-bg-2.mb-20
              a(href='blog-single.html')
                img(src='assets/imgs/page/blog/2/img-2.png', alt='Agon')
            a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
            p.text-body-text.color-gray-500
              | Lorem ipsum dolor sit amet consectetur adipiscing elit interdum ullamcorper sed pharetra senectus donec nunc. Consequat semper viverra nam libero justo laoreet facilisis magna etiam.
            .blog-img-user
              .img-user.img-user-round
                img(src='assets/imgs/page/blog/2/user-2.png', alt='Agon')
              h4.text-heading-6.color-gray-900 Jenny Wilson
              p.text-body-small.color-gray-500 August 25, 2025
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-list-style-1
            a.text-heading-6(href='blog-single.html') Design Studios That Everyone Should Know About?
            .blog-img-user
              .img-user.img-user-round
                img(src='assets/imgs/page/blog/2/user-3.png', alt='Agon')
              h4.text-body-lead.color-gray-500 Jane Cooper
              p.text-body-small.color-gray-500 August 25, 2025
            .style-1-img.color-bg-10
              a(href='blog-single.html')
                img(src='assets/imgs/page/blog/2/img-news-1.png', alt='Agon')
          .card-list-style-1
            a.text-heading-6(href='blog-single.html') Design Studios That Everyone Should Know About?
            .blog-img-user
              .img-user.img-user-round
                img(src='assets/imgs/page/blog/2/user-4.png', alt='Agon')
              h4.text-body-lead.color-gray-500 Wade Warren
              p.text-body-small.color-gray-500 August 25, 2025
            .style-1-img.color-bg-2
              a(href='blog-single.html')
                img(src='assets/imgs/page/blog/2/img-news-1.png', alt='Agon')
          .card-list-style-1
            a.text-heading-6(href='blog-single.html') Design Studios That Everyone Should Know About?
            .blog-img-user
              .img-user.img-user-round
                img(src='assets/imgs/page/blog/2/user-5.png', alt='Agon')
              h4.text-body-lead.color-gray-500 Jenny Wilson
              p.text-body-small.color-gray-500 August 25, 2025
            .style-1-img.color-bg-5
              a(href='blog-single.html')
                img(src='assets/imgs/page/blog/2/img-news-1.png', alt='Agon')
          .card-list-style-1
            a.text-heading-6(href='blog-single.html') Design Studios That Everyone Should Know About?
            .blog-img-user
              .img-user.img-user-round
                img(src='assets/imgs/page/blog/2/user-6.png', alt='Agon')
              h4.text-body-lead.color-gray-500 Robert Fox
              p.text-body-small.color-gray-500 August 25, 2025
            .style-1-img.color-bg-9
              a(href='blog-single.html')
                img(src='assets/imgs/page/blog/2/img-news-1.png', alt='Agon')
  section.section-box
    .container.mt-100
      .row
        .col-lg-1.col-sm-1.col-12
        .col-lg-10.col-sm-10.col-12.text-center
          h2.text-heading-1.color-gray-900.mb-10 Latest News
          p.text-body-lead-large.color-gray-600.mt-20 From Our blog and Event fanpage
        .col-lg-1.col-sm-1.col-12
    .container.mt-90
      .row
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Company
            a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
            .grid-4-img.color-bg-9
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-1.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Marketing Event
            a.text-heading-4(href='blog-single.html') How To Blow Through Capital At An Incredible Rate
            .grid-4-img.color-bg-6
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-2.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Customer Services
            a.text-heading-4(href='blog-single.html') Design Studios That Everyone Should Know About?
            .grid-4-img.color-bg-4
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-3.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Company
            a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
            .grid-4-img.color-bg-2
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-4.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Marketing Event
            a.text-heading-4(href='blog-single.html') How To Blow Through Capital At An Incredible Rate
            .grid-4-img.color-bg-8
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-5.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Customer Services
            a.text-heading-4(href='blog-single.html') Design Studios That Everyone Should Know About?
            .grid-4-img.color-bg-1
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-6.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Company
            a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
            .grid-4-img.color-bg-2
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-7.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Marketing Event
            a.text-heading-4(href='blog-single.html') How To Blow Through Capital At An Incredible Rate
            .grid-4-img.color-bg-8
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-8.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30.mb-50
          .card-grid-style-4
            span.tag-dot Customer Services
            a.text-heading-4(href='blog-single.html') Design Studios That Everyone Should Know About?
            .grid-4-img.color-bg-1
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-9.png', alt='Agon')
      .mt-20.mb-30.text-center
        a.btn.btn-black.icon-arrow-right-white(href='blog-1.html') Load more posts


  include ../sections/section_newsletter.pug