extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header-2.pug

block content
  include ../sections/section_hero_4.pug
  include ../sections/home_4_section_1.pug
  include ../sections/home_4_section_2.pug
  include ../sections/home_4_section_3.pug
  include ../sections/home_2_section_2.pug
  include ../sections/section_price_2.pug
  include ../sections/home_1_section_6.pug
  include ../sections/section_newsletter_2.pug