extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  section.section-box.mt-50.mb-50
    .container.text-center 
      h1.text-heading-1 
        | Terms and Conditions
  section.section-box.mt-50  
    .container
      .row 
        .col-lg-12.mx-auto 
          .row
            .col-lg-2 
              .table-of-content 
                h6.mb-15 Table of content 
                ul
                  li 
                    a(href="#section-1") Limitation of Liability
                  li 
                    a(href="#section-2") Licensing Policy
                  li 
                    a(href="#section-3") Product Compatibility
                  li 
                    a(href="#section-4") Delivery
                  li 
                    a(href="#section-5") Ownership
                  li 
                    a(href="#section-6") Browser Compatibility
                  li 
                    a(href="#section-7") Updates
                  li 
                    a(href="#section-8") Template Support
                  li 
                    a(href="#section-9") Price Changes
                  li 
                    a(href="#section-10") Refund Policy
                  li 
                    a(href="#section-11") Email & Newsletter
                  li 
                    a(href="#section-12") License Agreement
                  li 
                    a(href="#section-13") Severability
            .col-lg-8 
              .single-detail 
                img.img-responsive.bdr-16(src='assets/imgs/page/blog/single/img-1.png', alt='Agon')
                h6.mt-35.mb-25#section-1 Limitation of Liability
                p Under no circumstances shall AliThemes be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if AliThemes or an authorized representative has been advised of the possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof.

                h6.mt-35.mb-25#section-2 Licensing Policy
                p AliThemes WordPress plugins and template are released under the GNU General Public License v2 or later. Please refer to licensing policy page for licensing details.

                h6.mt-35.mb-25#section-3 Product Compatibility
                p The products are developed to be compatible with the latest version of WordPress because we always strive to stay up-to-date with the latest version of WordPress. You might experience certain performance or functionality glitches with the products if you use any version prior to that.

                h6.mt-35.mb-25#section-4 Delivery
                p Your purchased product(s) information will be emailed to the email address (that you will provide) once we receive your payment. Even though this usually takes a few minutes, it may also take up to 24 hours. You can contact us through our contact page if you do not receive your email after waiting for this time period. You will also have access to your purchased products from your account in AliThemes after logging in.

                h6.mt-35.mb-25#section-5 Ownership
                p All the products are the property of AliThemes. So you may not claim ownership (intellectual or exclusive) over any of our products, modified or unmodified. Our products come ‘as is’, without any kind of warranty, either expressed or implied. Under no circumstances can our juridical person be accountable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses originating from the employment of or incapacity to use our products.

                h6.mt-35.mb-25#section-6 Browser Compatibility
                p We consider it our duty to offer a great experience across most major browsers, which is why our products support the latest modern web browsers including (but not limited to) Firefox, Safari, Chrome & Internet Explorer 9+. However, the performance may vary between different browsers, versions, and operating systems.

                h6.mt-35.mb-25#section-7 Updates
                p Our templates are constantly updated to be compatible with the latest stable version of WordPress. Please ensure that you always use the most current version of our templates.

                h6.mt-35.mb-25#section-8 Template Support
                p Please refer to Help and Support Policy page for details.

                h6.mt-35.mb-25#section-9 Price Changes
                p AliThemes reserves the right to modify or suspend (temporarily or permanently) a subscription at any point of time and from time to time with or without any notice.

                h6.mt-35.mb-25#section-10 Refund Policy
                p Please refer to Refund Policy page for details.

                h6.mt-35.mb-25#section-11 Email & Newsletter
                p AliThemes may occasionally send you emails related to the purchase of product(s) from our company. We may also send you occasional email newsletters relating to AliThemes updates and promotions. We will never sell or release your email to any third party vendors. You may opt out of these emails at any time without penalty.

                h6.mt-35.mb-25#section-12 License Agreement
                p By purchasing our product(s), you indicate and consent that you have read and agree to the Terms & Conditions listed and detailed on this page. We reserve the right to change or modify the current Terms and Conditions without prior notice or consent.

                h6.mt-35.mb-25#section-13 Severability
                p If any part of this agreement is declared unenforceable or invalid, all remaining clauses in this agreement shall remain binding on the customer.

                h6.mt-50 - AliThemes Team -
            .col-lg-2 
              h3.text-heading-6.color-gray-400.mb-20.mt-150 Share
              a.share-social.share-fb(href='https://facebook.com', target='_blank')
              br
              a.share-social.share-tw(href='https://twitter.com', target='_blank')
              br
              a.share-social.share-pi(href='https://www.pinterest.com', target='_blank')







  include ../sections/section_newsletter_2.pug
  