extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/section_price_2.pug

  section.section-box.mt-80
    .container
      .row
        .col-lg-3.col-md-12.col-sm-12.mt-50
          h2.text-heading-1.color-gray-900.mb-30 How It Works
          p.text-body-excerpt.color-gray-600
            | Ac sapien purus tristique neque nibh vitae faucibus non phasellus vulputate nulla in eget amet, risus
        .col-lg-3.col-md-12.col-sm-12.mt-50
          .list-icons
            .item-icon.pl-0
              .mb-15
                img(src='assets/imgs/page/homepage2/icon-acquis.svg', alt='Agon')
              h4.text-heading-4 1. Acquisition
              p.text-body-text.color-gray-600.mt-15
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
        .col-lg-3.col-md-12.col-sm-12.mt-50
          .list-icons
            .item-icon.pl-0
              .mb-15
                img(src='assets/imgs/page/homepage2/icon-active.svg', alt='Agon')
              h4.text-heading-4 2. Activation
              p.text-body-text.color-gray-600.mt-15
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
        .col-lg-3.col-md-12.col-sm-12.mt-50
          .list-icons
            .item-icon.pl-0
              .mb-15
                img(src='assets/imgs/page/homepage2/icon-retent.svg', alt='Agon')
              h4.text-heading-4 3. Retention
              p.text-body-text.color-gray-600.mt-15
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
  section.section-box
    .container.mt-120
      .bdrd-58.box-gray-100
        .row
          .col-lg-2.col-sm-1.col-12
          .col-lg-8.col-sm-10.col-12.text-center
            h2.text-heading-1.color-gray-900.mt-30 Our Happy Customers
            p.text-body-lead-large.color-gray-600.mt-20
              | Know about our clients, we are a woldwide
              br.d-lg-block.d-none
              |  corporate brand
          .col-lg-2.col-sm-1.col-12
        .container.mt-70
          .row
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.hover-up.mb-20
                h5.text-heading-5.color-gray-900 Satisfied client testimonial
                p.text-body-text.color-gray-600.mt-20.text-comment
                  | Even factoring differences in body weight between children and adults into account, it would still not reach an intoxicating level in children.
                .box-img-user
                  .img-user
                    img(src='assets/imgs/page/homepage2/user-1.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Jane Cooper
                  p.text-body-text-md Biffco Enterprises Ltd.
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.hover-up.mb-20
                h5.text-heading-5.color-gray-900 98% of residents recommend us
                p.text-body-text.color-gray-600.mt-20.text-comment
                  | So yes, the alcohol (ethanol) in hand sanitizers can be absorbed through the skin, but no, it would not cause intoxication.
                .box-img-user
                  .img-user
                    img(src='assets/imgs/page/homepage2/user-2.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Wade Warren
                  p.text-body-text-md Krusty Krab
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.hover-up.mb-20
                h5.text-heading-5.color-gray-900 Our success stories
                p.text-body-text.color-gray-600.mt-20.text-comment
                  | &ldquo;It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....&rdquo;
                .box-img-user
                  .img-user
                    img(src='assets/imgs/page/homepage2/user-3.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Leslie Alexander
                  p.text-body-text-md Biffco Enterprises Ltd.
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.hover-up.mb-20
                h5.text-heading-5.color-gray-900 This is simply unbelievable
                p.text-body-text.color-gray-600.mt-20.text-comment
                  | &ldquo;I was also lucky enough to read @Coding_Career early and I was thoroughly blown away! It&rsquo;s the book I wish I had when I started my dev career.&rdquo;
                .box-img-user
                  .img-user
                    img(src='assets/imgs/page/homepage2/user-4.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Jenny Wilson
                  p.text-body-text-md Soylent Corp
  section.section-box.mt-100
    .container
      .row
        .col-lg-2.col-sm-1.col-12
        .col-lg-8.col-sm-10.col-12.text-center
          h2.text-heading-1.color-gray-900 Frequently Asked Questions
          p.text-body-lead-large.color-gray-600.mt-20
            | Aliquam a augue suscipit, luctus neque purus ipsum
            br.d-lg-block.d-none
            |  neque dolor primis a libero tempus, blandit and
            br.d-lg-block.d-none
            |  cursus varius and magnis sapien
        .col-lg-2.col-sm-1.col-12
  section.section-box.mt-100
    .container
      .row
        .col-lg-12.col-sm-12.col-12
          ul.list-icons-2
            li
              h3.text-heading-5.mb-10 Can I see the demo before purchasing?
              p.text-body-text.color-gray-500
                | Etiam amet mauris suscipit in odio integer congue metus vitae arcu mollis blandit ultrice ligula egestas and magna suscipit lectus magna suscipit luctus blandit vitae
            li
              h3.text-heading-5.mb-10 Can I use your system on different devices?
              p.text-body-text.color-gray-500
                | Etiam amet mauris suscipit in odio integer congue metus vitae arcu mollis blandit ultrice ligula egestas and magna suscipit lectus magna suscipit luctus blandit vitae
            li
              h3.text-heading-5.mb-10 Can I import my sitemap to your system?
              p.text-body-text.color-gray-500
                | An enim nullam tempor sapien gravida a donec ipsum enim an porta justo integer at velna vitae auctor integer congue undo magna at pretium purus pretium
            li
              h3.text-heading-5.mb-10 Can I cancel my subscription at any time?
              p.text-body-text.color-gray-500
                | An enim nullam tempor sapien gravida a donec ipsum enim an porta justo integer at velna vitae auctor integer congue undo magna at pretium purus pretium
            li
              h3.text-heading-5.mb-10 How can I switch my subscription between essential, and premium plan
              p.text-body-text.color-gray-500
                | Cubilia laoreet augue egestas and luctus donec curabite diam vitae dapibus libero and quisque gravida donec and neque.
            li
              h3.text-heading-5.mb-10 Is there an additional discount when paid annually?
              p.text-body-text.color-gray-500
                | Cubilia laoreet augue egestas and luctus donec curabite diam vitae dapibus libero and quisque gravida donec and neque. Blandit justo aliquam molestie nunc sapien
            li
              h3.text-heading-5.mb-10 I have an issue with my account
              ul.text-body-text
                li
                  | Etiam amet mauris suscipit sit amet in odio. Integer congue leo metus. Vitae arcu mollis blandit ultrice ligula
                li
                  | An enim nullam tempor sapien gravida donec congue leo metus. Vitae arcu mollis blandit integer at velna
            li
              h3.text-heading-5.mb-10 What happens if I don&rsquo;t renew my license after one year?
              ul.text-body-text
                li
                  | Etiam amet mauris suscipit sit amet in odio. Integer congue leo metus. Vitae arcu mollis blandit ultrice ligula
                li
                  | An enim nullam tempor sapien gravida donec congue leo metus. Vitae arcu mollis blandit integer at velna
            li
              h3.text-heading-5.mb-10 Do you have a free trial?
              p.text-body-text.color-gray-500
                ul.text-body-text
                  li Fringilla risus, luctus mauris orci auctor purus
                  li
                    | Quaerat sodales sapien euismod blandit purus and ipsum primis in cubilia laoreet augue luctus
            li
              h3.text-heading-5.mb-10 What kind of payment methods do you provide?
              p.text-body-text.color-gray-500
                ul.text-body-text
                  li Fringilla risus, luctus mauris orci auctor purus
                  li Quaerat sodales sapien euismoda laoreet augue luctus
  
  include ../sections/section_newsletter.pug