extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  section.section-box
    .banner-hero.banner-breadcrums
      .container.text-center
        h1.text-heading-2.color-gray-1000.mb-20 Contact Us
        p.text-body-text.color-gray-500
          | Equidem necessitatibus ei eam, ceteros expetenda
          br.d-lg-block.d-none
          |  hendrerit ei per, tation vituperatoribus ut.
  section.section-box
    .container.mb-20.mt-140
      .bdrd-58.box-gray-100.icon-wave
        .row
          .col-lg-12.mb-60
            span.text-body-capitalized.text-uppercase Contact us
            h2.text-heading-3.color-gray-900.mt-10 Have an prject in mind?
            p.text-body-text.color-gray-600.mt-20
              | The right move at the right time saves your investment.
              br.d-lg-block.d-none
              |  live the dream of expanding your business.
          .col-lg-4.mb-40
            h4.text-heading-6.color-gray-900.icon-home.mb-10.mt-10 Agon Studio
            p.text-body-text.color-gray-600
              | 4517 Washington Ave. 
              br
              | Manchester, Kentucky 39495
            p.text-body-text.color-gray-600 (239) 555-0108
            p.text-body-text.color-gray-600 contact@agon.com
          .col-lg-8
            .row
              .col-lg-6
                .form-group
                  input.form-control(type='text', value='', placeholder='Enter your name')
              .col-lg-6
                .form-group
                  input.form-control(type='text', value='', placeholder='Comapy (optioanl)')
              .col-lg-6
                .form-group
                  input.form-control(type='text', value='', placeholder='Your email')
              .col-lg-6
                .form-group
                  input.form-control(type='text', value='', placeholder='Phone number')
              .col-lg-12
                .form-group
                  textarea.form-control(placeholder='Tell us about yourself')
              .col-lg-12.mt-15
                button.btn.btn-black.icon-arrow-right-white.mr-40.mb-20(type='submit') Send Message
                br.d-lg-none.d-block
                span.text-body-text-md.color-gray-500.mb-20 By clicking contact us button, you agree our terms and policy,
  section.section-box.mt-100
    .container
      .row
        .col-lg-12.col-sm-10.col-12.text-center.mt-40
          h2.text-heading-1.color-gray-900.mb-20 Our Location
          p.text-body-lead-large.color-gray-600.mt-20
            | In a professional context it often happens that private or
            br.d-lg-block.d-none
            |  corporate clients order a publication to publish news.
    .container.mt-100
      .row
        .col-lg-4.col-md-12.col-sm-12
          .list-icons.hover-up
            .item-icon
              span.icon-left
                img(src='assets/imgs/page/homepage2/icon-acquis.svg', alt='Agon')
              h4.text-heading-4 Ofice
              p.text-body-text.color-gray-1100.mt-15
                | 205 North Michigan Avenue, Suite 810
                br
                |                                     Chicago, 60601, USA
                br
                |                                     Phone: (123) 456-7890
                br
                |                                     Email: contact@Evara.com
        .col-lg-4.col-md-12.col-sm-12
          .list-icons.hover-up
            .item-icon
              span.icon-left
                img(src='assets/imgs/page/homepage2/icon-active.svg', alt='Agon')
              h4.text-heading-4 Studio
              p.text-body-text.color-gray-1100.mt-15
                | 205 North Michigan Avenue, Suite 810
                br
                |                                     Chicago, 60601, USA
                br
                |                                     Phone: (123) 456-7890
                br
                |                                     Email: contact@Evara.com
        .col-lg-4.col-md-12.col-sm-12
          .list-icons.hover-up
            .item-icon
              span.icon-left
                img(src='assets/imgs/page/homepage2/icon-retent.svg', alt='Agon')
              h4.text-heading-4 Factory
              p.text-body-text.color-gray-1100.mt-15
                | 205 North Michigan Avenue, Suite 810
                br
                |                                     Chicago, 60601, USA
                br
                |                                     Phone: (123) 456-7890
                br
                |                                     Email: contact@Evara.com
