extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/shop_page_title.pug
  include ../sections/shop_categories_section.pug
  include ../sections/shop_latest_products.pug
  include ../sections/shop_viewed_products.pug
  include ../sections/shop_what_new.pug
  include ../sections/shop_bottom_banner.pug