extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header-4.pug

block content
  section.section-box
    .banner-hero.bg-service-1
      .container
        .row
          .col-lg-7.box-banner-left
            h1.text-display-3.mt-30 Building the Work Ecosystem
            p.text-body-lead-large.color-gray-500.mt-40.pr-40
              | Connect your conversations with the tools and services
              br.d-lg-block.d-none
              |  that you use to get the job done. With over 1,500 apps
              br.d-lg-block.d-none
              |  and a robust API
            .mt-40
              a.btn.btn-black.shape-square.icon-arrow-right-white(href='page-about-1.html') Get Started
              a.btn.btn-link.icon-triangle.color-gray-900.ml-40(href='page-pricing-1.html') How it works
            .row.mt-50
              .col-lg-6.col-md-6.col-sm-6.col-12
                .list-icons
                  .item-icon.none-bd
                    span.icon-left
                      img(src='assets/imgs/page/about/2/icon-project-done.svg', alt='Agon')
                    h4.text-heading-4
                      span.text-heading-3.color-green-900 +
                        span.count 12
                        | k
                    p.text-body-text.color-gray-500 Projects done
              .col-lg-6.col-md-6.col-sm-6.col-12
                .list-icons
                  .list-icons
                    .item-icon.none-bd
                      span.icon-left
                        img(src='assets/imgs/page/about/2/icon-officer.svg', alt='Agon')
                      h4.text-heading-4
                        span.text-heading-3.color-green-900 +
                          span.count 18
                      p.text-body-text.color-gray-500 Offices / Factories
          .col-lg-5.d-none.d-lg-block
            .banner-imgs
              .block-1.shape-2
                img(src='assets/imgs/page/services/1/banner-2.png', alt='Agon')
              img(src='assets/imgs/page/services/1/banner.png', alt='Agon')
  section.section-box.mt-100
    .container
      .row
        .col-lg-12.col-sm-12.col-12
          .text-start.mb-25
            span.tag-1.bg-6.color-green-900 What We Do
          h2.text-heading-2.color-gray-900.mb-50
            | We&apos;re always looking for
            br.d-lg-block.d-none
            |  new faces and fresh ideas
    .container.mt-20
      .row
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-support.svg', alt='Agon')
              h4.text-heading-6 Support Engineer
              p.text-body-text.color-gray-600.mt-15
                | We commit to original work of the highest standard and giving credit where it&apos;s due.
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-web.svg', alt='Agon')
              h4.text-heading-6 Web Developer
              p.text-body-text.color-gray-600.mt-15
                | We become a bonafide agency with a tiny team of 3 and then hire our first developers
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-business.svg', alt='Agon')
              h4.text-heading-6 Business Analyst
              p.text-body-text.color-gray-500.mt-15 We create our first campaign for Kaleidoscope Tech and it goes viral
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-product.svg', alt='Agon')
              h4.text-heading-6 Product Designer
              p.text-body-text.color-gray-500.mt-15 With a growing body of work, we bring more artists, designers on board.
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-share.svg', alt='Agon')
              h4.text-heading-6 Share stories 
              p.text-body-text.color-gray-500.mt-15
                | We commit to original work of the highest standard and giving credit where it&apos;s due.
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-build.svg', alt='Agon')
              h4.text-heading-6 Support Engineer
              p.text-body-text.color-gray-500.mt-15
                | We commit to original work of the highest standard and giving credit where it&apos;s due.
        .col-lg-3.col-md-6.col-sm-6.col-12
          .list-icons
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/services/1/icon-team.svg', alt='Agon')
              h4.text-heading-6 Support Engineer
              p.text-body-text.color-gray-500.mt-15
                | We commit to original work of the highest standard and giving credit where it&apos;s due.
  section.section-box
    .container.mt-70
      .row
        .col-lg-6.col-sm-12.mb-30
          span.tag-1.bg-6.color-green-900 Built Exclusively For You
          h3.text-heading-1.mt-30 From the big picture to every tiny detail, we got you covered.
          p.text-body-lead-large.color-gray-600.mt-30
            | Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level. Apply to our team and see what we can do together. You&rsquo;re good enough.
          .line-bd-green.mt-50
          .row
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Automated reports
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Realtime analytics
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Funnel optimization
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf User journey
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
        .col-lg-6.col-sm-12.block-we-do
          .inner-image
            img.bdrd-16.img-responsive(src='assets/imgs/page/homepage2/img-built.png', alt='Agon')
            .block-image-bottom
              img.bdrd-16.img-responsive(src='assets/imgs/page/homepage2/img-built-2.png', alt='Agon')

  include ../sections/section_price_2.pug
  include ../sections/section_newsletter_2.pug