extends ../layouts/master.pug

block title
  title Agon - Multipurpose Agency HTML Template

block header
  include ../components/header.pug

block content
  section.section-box
    .banner-hero.bg-about-3
      .container
        .row
          .col-lg-12.text-center
            h1.text-display-2.color-gray-900 Our Story
            p.text-heading-4.color-gray-600.mt-40
              | We supply enterprises, organizations and institutes of high-
              br.d-lg-block.d-none
              | tech industries with modern components. We build long-
              br.d-lg-block.d-none
              | term trusting relationships with our customers and partnes
              br.d-lg-block.d-none
              |  for further fruitful cooperations.
  .section-box.mt-40
    .container
      .row
        .col-lg-1
        .col-lg-10
          .box-image
            a.popup-youtube.btn-play-video.btn-play-middle(href='https://www.youtube.com/watch?v=oRI37cOPBQQ')
            img.img-responsive.bdrd-16(src='assets/imgs/page/about/3/img.png', alt="Agon")
        .col-lg-1
  section.section-box.mt-100
    .container
      .row
        .col-lg-1.col-sm-1.col-12
        .col-lg-10.col-sm-10.col-12.text-center
          h2.text-heading-1.color-gray-900.mb-10 Providing solutions of every kind
          p.text-body-lead-large.color-gray-600.mt-20
            | In a professional context it often happens that private or
            br.d-lg-block.d-none
            |  corporate clients order a publication to publish news.
        .col-lg-1.col-sm-1.col-12
    .container.mt-40
      .row
        .col-lg-4.col-md-12.col-sm-12
          .list-icons.mt-50
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/homepage2/icon-acquis.svg', alt='Agon')
              h4.text-heading-4 1. Acquisition
              p.text-body-text.color-gray-600.mt-15
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
        .col-lg-4.col-md-12.col-sm-12
          .list-icons.mt-50
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/homepage2/icon-active.svg', alt='Agon')
              h4.text-heading-4 2. Activation
              p.text-body-text.color-gray-600.mt-15
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
        .col-lg-4.col-md-12.col-sm-12
          .list-icons.mt-50
            .item-icon.none-bd
              span.icon-left
                img(src='assets/imgs/page/homepage2/icon-retent.svg', alt='Agon')
              h4.text-heading-4 3. Retention
              p.text-body-text.color-gray-600.mt-15
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum &mdash; semper quis lectus nulla.
  section.section-box.pt-100.pb-100.mt-100.bg-6
    .container
      .row
        .col-lg-5.mb-30
          span.tag-1.color-gray-900 Built Exclusively For You
          h3.text-heading-1.mt-30 Don&rsquo;t take our word for it. See what our clients say.
          p.text-body-lead-large.color-gray-600.mt-30
            | Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus, blandit
          .mt-40
            a.btn.btn-default.btn-white.icon-arrow-right(href='page-service-2.html') Learn More
        .col-lg-7
          .row(data-masonry='{"percentPosition": true }')
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.card-square.hover-up.mb-20
                p.text-body-text.color-gray-600.text-comment
                  | &quot;No matter where you go, It&apos;s is the coolest, most happening thing around! Not able to tell you how happy I am with it. &quot;
                .box-img-user
                  .img-user.img-user-round
                    img(src='assets/imgs/page/homepage2/user-1.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Jane Cooper
                  p.text-body-text-md Biffco Enterprises Ltd.
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.card-square.hover-up.mb-20
                p.text-body-text.color-gray-600.text-comment
                  | &quot;Wow what great service, I love it! It&apos;s is the most valuable business resource we have EVER purchased. We can&apos;t understand how we&apos;ve been living without it. I couldn&apos;t have asked for more than this.&quot;
                .box-img-user
                  .img-user.img-user-round
                    img(src='assets/imgs/page/homepage2/user-2.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Wade Warren
                  p.text-body-text-md Krusty Krab
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.card-square.hover-up.mb-20
                p.text-body-text.color-gray-600.text-comment
                  | &quot;Your company is truly upstanding and is behind its product 100%. It&apos;s the perfect solution for our business. It has really helped our business. Needless to say we are extremely satisfied with the results. &quot;
                .box-img-user
                  .img-user.img-user-round
                    img(src='assets/imgs/page/homepage2/user-3.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Leslie Alexander
                  p.text-body-text-md Biffco Enterprises Ltd.
            .col-lg-6.col-md-12.col-sm-12
              .card-grid-style-2.card-square.hover-up.mb-20
                p.text-body-text.color-gray-600.text-comment
                  | &quot;It&apos;s is both attractive and highly adaptable. It&apos;s exactly what I&apos;ve been looking for. Definitely worth the investment.&quot;
                .box-img-user
                  .img-user.img-user-round
                    img(src='assets/imgs/page/homepage2/user-4.png', alt='Agon')
                  h4.text-body-lead.color-gray-900.mb-5 Jenny Wilson
                  p.text-body-text-md Soylent Corp
  section.section-box
    .container.mt-120
      .row
        .col-lg-6.col-sm-12.block-img-we-do
          img.bdrd-16.img-responsive(src='assets/imgs/page/about/3/img-2.png', alt='Agon')
        .col-lg-6.col-sm-12.block-we-do
          span.tag-1.bg-6.color-green-900 What We Do, What You Get
          h3.text-heading-1.mt-30 An Exceptionally unique experience Tailored to you
          p.text-body-lead-large.color-gray-600.mt-30
            | In a professional context it often happens that private or corporate clients order a publication news while still not being ready. Business advisory service advises current and future businesses prospects of a client
          .line-bd-green.mt-50
          .row
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Boost your sale
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Smart Installation Tools
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Introducing New Features
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
            .col-lg-6.col-sm-6.col-12.mt-50
              h4.text-heading-6.icon-leaf Dynamic Boosting
              p.text-body-excerpt.color-gray-600.mt-15 The latest design trends meet hand-crafted templates.
  .section-box.mt-100
    .container
      .bd-bottom.pb-70
        ul.list-5-col
          li
            span.text-display-3.color-green-900 +
              span.count 6
              | k
            p.text-body-text.color-gray-500.pl-40
              | Years in
              br
              | Business
          li
            span.text-display-3.color-green-900 +
              span.count 12
              | k
            p.text-body-text.color-gray-500.pl-40
              | Projects
              br
              | Done
          li
            span.text-display-3.color-green-900 +
              span.count 14
              | k
            p.text-body-text.color-gray-500.pl-40
              | Countries
              br
              | / Offices
          li
            span.text-display-3.color-green-900 +
              span.count 16
              | k
            p.text-body-text.color-gray-500.pl-40
              | Constant
              br
              | Clients
          li
            span.text-display-3.color-green-900 +
              span.count 27
              | k
            p.text-body-text.color-gray-500.pl-40
              | Paid Customers
  section.section-box.mt-90.mb-mobile.mb-150
    .container
      .row
        .col-lg-2.col-sm-1.col-12
        .col-lg-8.col-sm-10.col-12.text-center.mt-40
          h2.text-heading-1.color-gray-900.mb-10
            | Building the 
            br.d-lg-block.d-none
            | Work Ecosystem
          p.text-body-lead-large.color-gray-600.mt-20
            | From year to year we strive to invent the most innovative 
            br.d-lg-block.d-none
            | technology that is used by both small and big enterprises
        .col-lg-2.col-sm-1.col-12
    .container.mt-90.mb-100
      .row
        .col-lg-6.col-sm-12
          .bg-2.box-square.hover-up
            h4.text-heading-4.color-gray-900.mb-15 Cross-Platform
            p.text-body-text-md.color-gray-600
              | Your site is not complete with only landings. Get essential inner pages using our ready demos.
            .box-image-inner.bg-color-1
              img(src='assets/imgs/page/homepage2/temp-1.png', alt='Agon')
        .col-lg-6.col-sm-12
          .bg-6.box-square.hover-up
            h4.text-heading-4.color-gray-900.mb-15 Extremely Flexible
            p.text-body-text-md.color-gray-600
              | Your site is not complete with only landings. Get essential inner pages using our ready demos.
            .box-image-inner.bg-color-2
              img(src='assets/imgs/page/homepage2/temp-2.png', alt='Agon')
  section.section-box
    .container.mt-30
      .row
        .col-lg-8
          h3.text-heading-1.mb-10 From Our Blog
          p.text-body-lead-large.color-gray-600 From Our blog and Event fanpage
        .col-lg-4.text-lg-end.text-start.pt-30
          a.btn.btn-black.icon-arrow-right-white(href='blog-2.html') View More
    .container.mt-90
      .row
        .col-lg-4.col-sm-12.pr-30
          .card-grid-style-4
            span.tag-dot Company
            a.text-heading-4(href='blog-single.html') We can blend colors multiple ways, the most common
            .grid-4-img
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-1.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30
          .card-grid-style-4
            span.tag-dot Marketing Event
            a.text-heading-4(href='blog-single.html') How To Blow Through Capital At An Incredible Rate
            .grid-4-img
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-2.png', alt='Agon')
        .col-lg-4.col-sm-12.pr-30
          .card-grid-style-4
            span.tag-dot Customer Services
            a.text-heading-4(href='blog-single.html') Design Studios That Everyone Should Know About?
            .grid-4-img.color-bg-4
              a(href='blog-single.html')
                img(src='assets/imgs/page/homepage1/img-news-3.png', alt='Agon')

  include ../sections/section_newsletter.pug
