//- src/views/components/footer.pug

// Footer
footer.footer.mt-50
  .container
    //- .footer-top
      //- .row
      //-   .col-md-4.col-sm-6.text-center.text-md-start
      //-     a(href='index.html')
      //-       img(alt='Agon' src='assets/imgs/template/logo.svg')
      //-   .col-md-8.col-sm-6.text-center.text-md-end
      //-     span.color-gray-900.text-heading-6.mr-30.text-mb-sm-20 Ready to get started?
      //-     a.btn.btn-square(href='page-signup.html') Create an Account
    .row
      .col-lg-3.width-20.mb-30
        h4.text-heading-5 Contact
        .mt-20.text-body-text.color-gray-600.mb-20
          | 4517 Washington Ave. Manchester, Kentucky 39495
        .mt-20.text-body-text.color-gray-600
          | (239) 555-0108
        .text-body-text.color-gray-600
          | contact@agon.com
      .col-lg-3.width-20.mb-30
        h4.text-heading-5 About Us
        ul.menu-footer.mt-20
          li
            a(href='#') Mission &amp; Vision
          li
            a(href='#') Our Team
          li
            a(href='page-career.html') Careers
          li
            a(href='#') Press &amp; Media
          li
            a(href='#') Advertising
          li
            a(href='#') Testimonials
      .col-lg-3.width-20.mb-30
        h4.text-heading-5 Discover
        ul.menu-footer.mt-20
          li
            a(href='blog-2.html') Our Blog
          li
            a(href='page-pricing-1.html') Plans &amp; Pricing
          li
            a(href='#') Knowledge Base
          li
            a(href='#') Cookie Policy
          li
            a(href='#') Office Center
          li
            a(href='blog-1.html') News &amp; Events
      .col-lg-3.width-20.mb-30
        h4.text-heading-5 Support
        ul.menu-footer.mt-20
          li
            a(href='page-faqs-1.html') FAQs
          li
            a(href='#') Editor Help
          li
            a(href='#') Community
          li
            a(href='#') Live Chatting
          li
            a(href='page-contact.html') Contact Us
          li
            a(href='#') Support Center
      .col-lg-3.width-16
        h4.text-heading-5 Useful links
        ul.menu-footer.mt-20
          li
            a(href='#') Request an offer
          li
            a(href='#') How it works
          li
            a(href='page-pricing-2.html') Pricing
          li
            a(href='#') Reviews
          li
            a(href='#') Stories
    .footer-bottom.mt-20
      .row
        .col-md-6
          span.color-gray-400.text-body-lead &copy; Agon Official 2025
          a.text-body-text.color-gray-400.ml-50(href='page-terms.html') Privacy policy
          a.text-body-text.color-gray-400.ml-50(href='page-terms.html') Cookies
          a.text-body-text.color-gray-400.ml-50(href='page-terms.html') Terms of service
        .col-md-6.text-center.text-lg-end.text-md-end
          .footer-social
            a.icon-socials.icon-facebook(href='https://facebook.com', target="_blank")
            a.icon-socials.icon-twitter(href='https://twitter.com', target="_blank")
            a.icon-socials.icon-instagram(href='https://www.instagram.com', target="_blank")
            a.icon-socials.icon-linkedin(href='https://www.linkedin.com', target="_blank")