nav.nav-main-menu.d-none.d-xl-block
  ul.main-menu
    li.has-children
      a.active(href='/programs/') Programs
      ul.sub-menu
        li
          a(href='programs/bachelor-of-arts-in-ministry.html')
            //- i.fi.fi-rr-home 
            | Bachelor of Arts in Ministry
        li
          a(href='programs/associate-of-arts-in-ministry.html')
            //- i.fi.fi-rr-home
            | Associate of Arts in Ministry
        li
          a(href='programs/ministry-preparation-program.html')
            //- i.fi.fi-rr-home
            | Ministry Preparation Program
        li
          a(href='programs/non-degree-course-of-study.html')
            //- i.fi.fi-rr-home
            | Non-Degree Course of Study
        li.hr
          span
        li
          a(href='delivery.html')
            //- i.fi.fi-rr-home
            | Course Delivery
        li
          a(href='structures.html')
            //- i.fi.fi-rr-home
            | Structures
        li
          a(href='majors.html')
            //- i.fi.fi-rr-home
            | Majors
        li
          a(href='minors.html')
            //- i.fi.fi-rr-home
            | Minors
        li
          a(href='concentrations.html')
            //- i.fi.fi-rr-home
            | Concentrations
        li
          a(href='tracks.html')
            //- i.fi.fi-rr-home
            | Tracks
    li.has-children
      a(href='about.html') About
      ul.sub-menu
        li
          a(href='about/history.html')
            //- i.fi.fi-rr-star
            | History
        li
          a(href='about/welcome.html')
            //- i.fi.fi-rr-star
            | Welcome
        li
          a(href='about/belief.html')
            //- i.fi.fi-rr-star
            | Belief
        li
          a(href='about/our-mission.html')
            //- i.fi.fi-rr-star
            | Our Mission
        li
          a(href='about/facts.html')
            //- i.fi.fi-rr-star
            | Facts
        li
          a(href='about/governance.html')
            //- i.fi.fi-rr-star
            | Governance
    li.has-children
      a(href='financialaid.html') Financial Aid
      ul.sub-menu
        li
          a(href='financialaid/fafsa.html')
            //- i.fi.fi-rr-gem
            | FAFSA
        li
          a(href='financialaid/scholarships.html')
            //- i.fi.fi-rr-gem
            | Scholarships
        li
          a(href='financialaid/institutional-aid.html')
            //- i.fi.fi-rr-gem
            | Institutional Aid
        li
          a(href='financialaid/student-loans.html')
            //- i.fi.fi-rr-gem
            | Student Loans
        li
          a(href='financialaid/tax-credit.html')
            //- i.fi.fi-rr-gem
            | Tax Credit
        li
          a(href='financialaid/tuition-and-fees.html')
            //- i.fi.fi-rr-gem
            | Tuition and Fees
        li
          a(href='financialaid/crrsaa.html')
            //- i.fi.fi-rr-gem
            | HEERF Grants
        li
          a(href='offices/financial-aid.html')
            //- i.fi.fi-rr-gem
            | Contact Us
    li
      a(href='mynbc.html') MyNBC
    li.has-children
      a(href='give.html') Give
      ul.sub-menu
        li
          a(href='give/annual-offering.html')
            //- i.fi.fi-rr-edit
            | Annual Offering
        li
          a(href='give/presidential-partners.html')
            //- i.fi.fi-rr-edit
            | Presidential Partners
        li
          a(href='give/donate.html')
            //- i.fi.fi-rr-edit
            | Donate
        li
          a(href='give/student-account.html')
            //- i.fi.fi-rr-edit
            | Student Account
        li
          a(href='give/share-your-story.html')
            //- i.fi.fi-rr-edit
            | Share Your Story
            