nav.nav-main-menu.d-none.d-xl-block
  ul.main-menu
    li.has-children
      a.active(href='#') Home
      ul.sub-menu.two-col
        li
          a(href='index.html')
            i.fi.fi-rr-home 
            | Homepage - 1
        li
          a(href='index-2.html')
            i.fi.fi-rr-home
            | Homepage - 2
        li
          a(href='index-3.html')
            i.fi.fi-rr-home
            | Homepage - 3
        li
          a(href='index-4.html')
            i.fi.fi-rr-home
            | Homepage - 4
        li
          a(href='index-5.html')
            i.fi.fi-rr-home
            | Homepage - 5
        li
          a(href='index-6.html')
            i.fi.fi-rr-home
            | Homepage - 6
        li
          a(href='index-7.html')
            i.fi.fi-rr-home
            | Homepage - 7
        li
          a(href='index-8.html')
            i.fi.fi-rr-home
            | Homepage - 8
    li.has-children
      a(href='#') About
      ul.sub-menu
        li
          a(href='page-about-1.html')
            i.fi.fi-rr-star
            | About Us - 1
        li
          a(href='page-about-2.html')
            i.fi.fi-rr-star
            | About Us - 2
        li
          a(href='page-about-3.html')
            i.fi.fi-rr-star
            | About Us - 3
    li.has-children
      a(href='#') Company
      ul.sub-menu
        li
          a.closer(href='page-service-1.html')
            i.fi.fi-rr-gem
            | Services - 1
        li
          a.closer(href='page-service-2.html')
            i.fi.fi-rr-gem
            | Services - 2
        li.hr
          span
        li
          a.closer(href='page-pricing-1.html')
            i.fi.fi-rr-database
            | Pricing - 1
        li
          a.closer(href='page-pricing-2.html')
            i.fi.fi-rr-database
            | Pricing - 2
        li.hr
          span
        li
          a.closer(href='page-faqs-1.html')
            i.fi.fi-rr-headset
            | FAQs - 1
        li
          a.closer(href='page-faqs-2.html')
            i.fi.fi-rr-headset
            | FAQs - 2
        li.hr
          span
        li
          a.closer(href='page-career.html')
            i.fi.fi-rr-briefcase
            | Career
        li
          a.closer(href='page-career-detail.html')
            i.fi.fi-rr-briefcase
            | Career Detail
    li.has-children
      a(href='#') Pages
      ul.sub-menu
        li
          a(href='page-contact.html')
            i.fi.fi-rr-paper-plane
            | Contact
        li
          a(href='page-signup.html')
            i.fi.fi-rr-user-add
            | Sign Up
        li
          a(href='page-login.html')
            i.fi.fi-rr-fingerprint
            | Log In
        li
          a(href='page-reset.html')
            i.fi.fi-rr-settings
            | Reset Password
        li
          a(href='404.html')
            i.fi.fi-rr-exclamation
            | Error 404
    li.has-children
      a(href='#') Blog
      ul.sub-menu
        li
          a.closer(href='blog-1.html')
            i.fi.fi-rr-edit
            | Blog Archive - 1
        li
          a.closer(href='blog-2.html')
            i.fi.fi-rr-edit
            | Blog Archive - 2
        li.hr
          span
        li
          a(href='blog-single.html')
            i.fi.fi-rr-document-signed
            | Blog Single
    
    li.has-children
      a(href='#') Portfolio
      ul.sub-menu
        li
          a.closer(href='page-portfolio-grid-1.html')
            i.fi.fi-rr-edit
            | Grid 4 columns
        li
          a.closer(href='page-portfolio-grid-2.html')
            i.fi.fi-rr-edit
            | Grid 3 columns
        li.hr
          span
        li
          a(href='page-portfolio-single.html')
            i.fi.fi-rr-document-signed
            | Portfolio Single
    li.has-children
      a(href='#') Shop
      ul.sub-menu
        li
          a.closer(href='page-shop-grid-1.html')
            i.fi.fi-rr-edit
            | Shop Grid - 1
        li
          a.closer(href='page-shop-grid-2.html')
            i.fi.fi-rr-edit
            | Shop Grid - 2
        li
          a.closer(href='page-shop-single.html')
            i.fi.fi-rr-edit
            | Product Details
            