.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar
  .mobile-header-wrapper-inner
    .mobile-header-top
      .user-account
        img(src='assets/imgs/template/ava_1.png', alt='Agon')
        .content
          h6.user-name
            | Hi 
            span.text-brand Steven !
          p.font-xs.text-muted You have 5 new messages
    .mobile-header-content-area
      .perfect-scroll        
        .mobile-menu-wrap.mobile-header-border
          // mobile menu start
          nav
            ul.mobile-menu.font-heading
              li.has-children
                a.active(href='index.html') Home
                ul.sub-menu
                  li
                    a(href='index.html') Homepage - 1
                  li
                    a(href='index-2.html') Homepage - 2
                  li
                    a(href='index-3.html') Homepage - 3
                  li
                    a(href='index-4.html') Homepage - 4
                  li
                    a(href='index-5.html') Homepage - 5
                  li
                    a(href='index-6.html') Homepage - 6
                  li
                    a(href='index-7.html') Homepage - 7
                  li
                    a(href='index-8.html') Homepage - 8
              li.has-children
                a(href='page-about-1.html') About
                ul.sub-menu
                  li
                    a(href='page-about-1.html') About Us - 1
                  li
                    a(href='page-about-2.html') About Us - 2
                  li
                    a(href='page-about-3.html') About Us - 3
              li.has-children
                a(href='page-service-1.html') Company
                ul.sub-menu
                  li
                    a.closer(href='page-service-1.html') Services - 1
                  li
                    a.closer(href='page-service-2.html') Services - 2
                  li.hr
                    span
                  li
                    a.closer(href='page-pricing-1.html') Pricing - 1
                  li
                    a.closer(href='page-pricing-2.html') Pricing - 2
                  li.hr
                    span
                  li
                    a.closer(href='page-faqs-1.html') FAQs - 1
                  li
                    a.closer(href='page-faqs-2.html') FAQs - 2
                  li.hr
                    span
                  li
                    a.closer(href='page-career.html') Career
                  li
                    a.closer(href='page-career-detail.html') Career Detail
              li.has-children
                a(href='#') Pages
                ul.sub-menu
                  li
                    a(href='page-contact.html') Contact
                  li
                    a(href='page-signup.html') Sign Up
                  li
                    a(href='page-login.html') Log In
                  li
                    a(href='page-reset.html') Reset Password
                  li
                    a(href='404.html') Error 404
              li.has-children
                a(href='blog-1.html') Blog
                ul.sub-menu
                  li
                    a.closer(href='blog-1.html') Blog 1
                  li
                    a.closer(href='blog-2.html') Blog 2
                  li.hr
                    span
                  li
                    a(href='blog-single.html') Blog Single
              li.has-children
                a(href='#') Shop
                ul.sub-menu
                  li
                    a.closer(href='page-shop-grid-1.html') Shop Grid 1
                  li
                    a.closer(href='page-shop-grid-2.html') Shop Grid 2
                  li
                    a.closer(href='page-shop-single.html') Product Details
              li.has-children
                a(href='#') Portfolio
                ul.sub-menu
                  li
                    a.closer(href='page-portfolio-grid-1.html')
                      | Grid 4 columns
                  li
                    a.closer(href='page-portfolio-grid-2.html')
                      | Grid 3 columns
                  li
                    a(href='page-portfolio-single.html')
                      | Portfolio Single
          // mobile menu end
        .mobile-account
          h6.mb-10 Your Account
          ul.mobile-menu.font-heading
            li
              a(href='#') Profile
            li
              a(href='#') Work Preferences
            li
              a(href='#') My Boosted Shots
            li
              a(href='#') My Collections
            li
              a(href='#') Account Settings
            li
              a(href='#') Go Pro
            li
              a(href='page-login.html') Sign Out
        
        .site-copyright.color-gray-400
          | Copyright 2025 &copy; Agon - Agency Template. 
          br
          | Designed by
          a(href='http://alithemes.com') &nbsp; AliThemes
