.header-top
  .container
    .row
      .col-lg-6.col-md-6.d-none.d-md-block
        span 66 avenue des Champs, 75008, Paris, France
      .col-lg-6.col-md-6.text-end
        a.text-body-text.line-right(href='#') (+01) - 456 789
        a.text-body-text(href='mailto:contact@agon.com') contact@agon.com
